*, :before, :after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  position: relative;
  transition: all 0.15s linear;
}

@font-face {
  font-family: Graphik;
  src: url(../fonts/EM-Graphik/EM-Graphik/TTF/Graphik-Medium.ttf), url(../fonts/EM-Graphik/EM-Graphik/OTF/Graphik-Medium.otf);
  font-weight: 401 500;
  font-style: normal;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/EM-Graphik/EM-Graphik/TTF/Graphik-Regular.ttf), url(../fonts/EM-Graphik/EM-Graphik/OTF/Graphik-Regular.otf);
  font-weight: 301 400;
  font-style: normal;
}
body {
  width: 100%;
  height: auto;
  font-family: Graphik;
  background: #181818;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body::-webkit-scrollbar {
  display: none;
}
body .topBar {
  width: 100%;
  height: 119px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
body .topBar .logo {
  width: 186px;
  height: 58px;
}
body .topBar .logo img {
  width: 100%;
  height: 100%;
}
body .topBar .navBar {
  display: flex;
}
body .topBar .navBar a {
  text-decoration: none;
  color: #fff;
  font: 500 16px/24px Graphik;
  margin: 0 20px;
}
body .topBar .navBar a:first-child {
  margin: 0 20px 0 0;
}
body .topBar .navBar a:last-child {
  margin: 0 0 0 20px;
}
body .topBar .login {
  color: #fff;
  text-decoration: none;
  font: 500 17px/25px Graphik;
  padding: 13.5px 46px;
  border: 1px solid #fff;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
body .topBar .login:hover {
  border-color: #4452FE;
  background: #4452FE;
}
body .topBar[scroll] {
  width: 50%;
  height: 55px;
  background: rgba(24, 24, 24, 0.6);
  border: 1px solid #fff;
  border-radius: 0 0 15px 15px;
  justify-content: space-between;
  padding: 0 30px;
  backdrop-filter: blur(5px);
  border-top: 0;
}
body .topBar[scroll] .login {
  padding: 5px 20px;
  border-radius: 50px;
}
body .preamble {
  width: 100%;
  align-items: center;
  flex-flow: nowrap column;
  display: flex;
}
body .preamble .title {
  width: 710px;
  color: #fff;
  font: 500 80px/88px Graphik;
  margin: 214px 0 0 0;
  text-align: center;
}
body .preamble .content {
  text-align: center;
  margin: 27px 0 0 0;
  color: #fff;
  font: 400 20px/30px Graphik;
  width: 585px;
}
body .preamble .button {
  margin: 95px 0 0 0;
  display: flex;
}
body .preamble .button a {
  text-decoration: none;
  color: #fff;
  font: 500 17px/25px Graphik;
  padding: 20px 40px;
  border: 1px solid #fff;
  margin: 0 17.5px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
body .preamble .button a:hover {
  border-color: #4452FE;
  background: #4452FE;
}
body .preamble .images {
  margin: 35px 0 0 0;
  width: 1444px;
  height: 841px;
  display: flex;
  justify-content: center;
}
body .preamble .images .image {
  position: absolute;
}
body .preamble .images .image:nth-child(1) {
  bottom: 0;
  left: 0;
  width: 714px;
  height: 543px;
}
body .preamble .images .image:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 731px;
  height: 557px;
}
body .preamble .images .image:nth-child(2) {
  width: 714px;
  height: 543px;
}
body .preamble .images .image img {
  width: 100%;
  height: 100%;
}
body .preamble .images .gradient {
  position: absolute;
  width: 100vw;
  height: 551px;
  background: linear-gradient(to bottom, transparent, #0e0e0e);
  bottom: 0;
}
body .features {
  margin: 162px 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body .features > .title {
  color: #fff;
  font: 400 52px/62px Graphik;
}
body .features > .content {
  width: 585px;
  color: #fff;
  font: 400 20px/30px Graphik;
  margin: 27px 0 0 0;
}
body .features > .images {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
}
body .features > .images .images {
  width: 724px;
  height: 759px;
  margin: 0 47px 0 0;
}
body .features > .images .images img {
  position: absolute;
}
body .features > .images .images img:nth-child(1) {
  width: 696px;
  height: 659px;
}
body .features > .images .images img:nth-child(2) {
  width: 400px;
  height: 276px;
  bottom: 0;
  right: 0;
}
body .features > .images .texts {
  width: 270px;
}
body .features > .images .texts .text {
  width: 100%;
  margin: 0 0 45px 0;
}
body .features > .images .texts .text:last-child {
  margin: 0;
}
body .features > .images .texts .text .title {
  display: flex;
  color: #fff;
  font: 500 20px/30px Graphik;
}
body .features > .images .texts .text .title .icon {
  margin: 0 10px 0 0;
}
body .features > .images .texts .text .content {
  margin: 20px 0 0 0;
  color: #fff;
  font: 400 16px/24px Graphik;
}

/*# sourceMappingURL=main.css.map */
