*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  position: relative;
  transition: all 0.15s linear;
}

@font-face {
  font-family: Graphik;
  src: url(../fonts/EM-Graphik/EM-Graphik/TTF/Graphik-Medium.ttf), url(../fonts/EM-Graphik/EM-Graphik/OTF/Graphik-Medium.otf);
  font-weight: 401 500;
  font-style: normal;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/EM-Graphik/EM-Graphik/TTF/Graphik-Regular.ttf), url(../fonts/EM-Graphik/EM-Graphik/OTF/Graphik-Regular.otf);
  font-weight: 301 400;
  font-style: normal;
}
body {
  width: 100%;
  height: auto;
  font-family: Graphik;
  background: #181818;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body::-webkit-scrollbar {
  display: none;
}
body .topBar {
  width: 100%;
  height: 119px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
body .topBar .logo {
  width: 186px;
  height: 58px;
}
body .topBar .logo img {
  width: 100%;
  height: 100%;
}
body .topBar .navBar {
  display: flex;
}
body .topBar .navBar a {
  text-decoration: none;
  color: #fff;
  font: 500 16px/24px Graphik;
  margin: 0 20px;
}
body .topBar .navBar a:first-child {
  margin: 0 20px 0 0;
}
body .topBar .navBar a:last-child {
  margin: 0 0 0 20px;
}
body .topBar .login {
  color: #fff;
  text-decoration: none;
  font: 500 17px/25px Graphik;
  padding: 13.5px 46px;
  border: 1px solid #fff;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
body .topBar .login:hover {
  border-color: #4452FE;
  background: #4452FE;
}
body .topBar[scroll] {
  width: 50%;
  height: 55px;
  background: rgba(24, 24, 24, 0.6);
  border: 1px solid #fff;
  border-radius: 0 0 15px 15px;
  justify-content: space-between;
  padding: 0 30px;
  backdrop-filter: blur(5px);
  border-top: 0;
}
body .topBar[scroll] .login {
  padding: 5px 20px;
  border-radius: 50px;
}
body .preamble {
  width: 100%;
  align-items: center;
  flex-flow: nowrap column;
  display: flex;
}
body .preamble .title {
  width: 710px;
  color: #fff;
  font: 500 80px/88px Graphik;
  margin: 214px 0 0 0;
  text-align: center;
}
body .preamble .content {
  text-align: center;
  margin: 27px 0 0 0;
  color: #fff;
  font: 400 20px/30px Graphik;
  width: 585px;
}
body .preamble .button {
  margin: 95px 0 0 0;
  display: flex;
}
body .preamble .button a {
  text-decoration: none;
  color: #fff;
  font: 500 17px/25px Graphik;
  padding: 20px 40px;
  border: 1px solid #fff;
  margin: 0 17.5px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}
body .preamble .button a:hover {
  border-color: #4452FE;
  background: #4452FE;
}
body .preamble .images {
  margin: 35px 0 0 0;
  width: 1444px;
  height: 841px;
  display: flex;
  justify-content: center;
}
body .preamble .images .image {
  position: absolute;
}
body .preamble .images .image:nth-child(1) {
  bottom: 0;
  left: 0;
  width: 714px;
  height: 543px;
}
body .preamble .images .image:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 731px;
  height: 557px;
}
body .preamble .images .image:nth-child(2) {
  width: 714px;
  height: 543px;
}
body .preamble .images .image img {
  width: 100%;
  height: 100%;
}
body .preamble .images .gradient {
  position: absolute;
  width: 100vw;
  height: 551px;
  background: linear-gradient(to bottom, transparent, #0e0e0e);
  bottom: 0;
}
body .features {
  margin: 162px 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body .features > .title {
  color: #fff;
  font: 400 52px/62px Graphik;
}
body .features > .content {
  width: 585px;
  color: #fff;
  font: 400 20px/30px Graphik;
  margin: 27px 0 0 0;
}
body .features > .images {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
}
body .features > .images .images {
  width: 724px;
  height: 759px;
  margin: 0 47px 0 0;
}
body .features > .images .images img {
  position: absolute;
}
body .features > .images .images img:nth-child(1) {
  width: 696px;
  height: 659px;
}
body .features > .images .images img:nth-child(2) {
  width: 400px;
  height: 276px;
  bottom: 0;
  right: 0;
}
body .features > .images .texts {
  width: 270px;
}
body .features > .images .texts .text {
  width: 100%;
  margin: 0 0 45px 0;
}
body .features > .images .texts .text:last-child {
  margin: 0;
}
body .features > .images .texts .text .title {
  display: flex;
  color: #fff;
  font: 500 20px/30px Graphik;
}
body .features > .images .texts .text .title .icon {
  margin: 0 10px 0 0;
}
body .features > .images .texts .text .content {
  margin: 20px 0 0 0;
  color: #fff;
  font: 400 16px/24px Graphik;
}
body .contents {
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
  margin: 160px 0 0 0;
}
body .contents .title {
  color: #fff;
  font: 400 52px/62px Graphik;
}
body .contents .content {
  margin: 20px;
  text-align: center;
  width: 575px;
  color: #fff;
  font: 400 20px/30px Graphik;
}
body .contents .cards {
  margin: 54px 0 0 0;
  display: flex;
}
body .contents .cards .card {
  width: 476px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
body .contents .cards .card .title {
  color: #000;
  font: 500 20px/30px Graphik;
  margin: 50px 0 0 0;
}
body .contents .cards .card .content {
  color: #5c5c5c;
  font: 400 16px/24px Graphik;
  margin: 30px 0 0 0;
  width: 270px;
}
body .contents .cards .card a {
  margin: 67px 0 0 0;
  padding: 13px 46px;
  background: #4452FE;
  color: #fff;
  font: 500 17px/25px Graphik;
  text-decoration: none;
}
body .contents .cards .card:first-child {
  margin: 0 33px 0 0;
}
body .contents .cards .card:first-child .image {
  margin: 57px 0 0 0;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
body .contents .cards .card:first-child .image .screen {
  background: #000;
  border: 1.5px solid #9fa2a5;
  border-radius: 4.56px 4.56px 0 0;
  padding: 9.13px;
  border-bottom: 0;
}
body .contents .cards .card:first-child .image .screen img {
  width: 312.33px;
  height: 195.18px;
  border-radius: 4.56px;
}
body .contents .cards .card:first-child .image .keyboard {
  width: 405.12px;
}
body .contents .cards .card:first-child .image .keyboard .base {
  width: 100%;
  height: 8.37px;
  background: #D8D8D8;
  display: flex;
  justify-content: center;
}
body .contents .cards .card:first-child .image .keyboard .base .grip {
  width: 54.16px;
  height: 5.02px;
  background: #9FA2A5;
  border-radius: 0 0 100px 100px;
}
body .contents .cards .card:first-child .image .keyboard .baseBottom {
  width: 100%;
  height: 4.72px;
  background: #9fa2a5;
  border-radius: 0 0 100px 100px;
}
body .contents .cards .card:last-child .image {
  width: 442px;
  height: 339px;
}
body .contents .cards .card:last-child .image img {
  width: 100%;
  height: 100%;
}
body .gallery {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  margin: 160px 0 0 0;
}
body .gallery .title {
  color: #fff;
  font: 400 52px/62px Graphik;
}
body .gallery .content {
  margin: 20px 0 0 0;
  width: 575px;
  color: #fff;
  font: 400 20px/30px Graphik;
  text-align: center;
}
body .gallery .images {
  margin: 54px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1090px;
}
body .gallery .images img {
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
}
body .gallery .images img:nth-child(5), body .gallery .images img:nth-child(6), body .gallery .images img:nth-child(7) {
  margin: 44px 0 0 0;
}
body .gallery .seeMore {
  margin: 44px 0 0 0;
  text-decoration: none;
  padding: 13.5px 40px;
  border: 1px solid #fff;
  color: #fff;
  font: 500 17px/25px Graphik;
}
body .gallery .seeMore:hover {
  border-color: #4452FE;
  background: #4452FE;
}
body .partners {
  margin: 160px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .partners .title {
  color: #fff;
  font: 400 52px/62px Graphik;
}
body .partners .content {
  margin: 20px 0 0 0;
  width: 575px;
  color: #fff;
  font: 400 20px/30px Graphik;
  text-align: center;
}
body .partners .logos {
  margin: 60px 0 0 0;
  display: flex;
}
body .partners .logos a {
  margin: 0 74px 0 0;
}
body .partners .logos a:last-child {
  margin: 0;
}
body .partners .allPartners {
  text-decoration: none;
  padding: 13.5px 40px;
  border: 1px solid #fff;
  color: #fff;
  font: 500 17px/25px Graphik;
  margin: 63px 0 0 0;
}
body .partners .allPartners:hover {
  border-color: #4452FE;
  background: #4452FE;
}

/*# sourceMappingURL=main.css.map */
