*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  position: relative
  &::before, &::after
    display: block
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box

svg
  width: 100%
  height: 100%

@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 100
  src: url("../fonts/modulusPro/modulusProThin.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 300
  src: url("../fonts/modulusPro/modulusProLight.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 400
  src: url("../fonts/modulusPro/modulusProRegular.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 500
  src: url("../fonts/modulusPro/modulusProMedium.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 700
  src: url("../fonts/modulusPro/modulusProBold.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 900
  src: url("../fonts/modulusPro/modulusProBlack.ttf")
@font-face
  font-family: 'Number One Line'
  font-style: normal
  font-weight: 600
  src: url("../fonts/numberOneLine/numberOneLine.ttf")

html
  font-size: 6.25%
  --timeTextColor: #fefffa
  --progressColor: #c5e36f
  --hoursArrowColor: #f87b79
  --minutesArrowColor: #f0d258
  --weatherTextColor: #fafffc
  body
    display: flex
    justify-content: center
    align-items: center
    background: #000
    use-chat-gpt-ai-content-menu#USE_CHAT_GPT_AI_ROOT_Context_Menu
      display: none
    .main
      width: 0
      height: 0
      .background, .contents
        // background: #b9eefe
        width: 100%
        height: 100%
        position: absolute
        .top, .bottom
          width: 100%
          height: 100%
          position: absolute
          display: flex
          justify-content: center
          flex-wrap: wrap
          svg
            height: auto
            margin: 0 0 var(--bottom) 0
        .bottom
          --margin: 0
          align-content: flex-end
        .top
          align-content: flex-start
      .background
        background: linear-gradient(to top, #6a9d0d 0px calc(var(--bottom) + 1rem), #b9eefe calc(var(--bottom) + 1rem) 100%)
      .contents
        background: #0000
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-content: space-between
        .time, .weather
          width: 100%
          height: auto
        .weather
          text-shadow: -.5rem .5rem #1115
          .randomFlower
            width: 100%
            height: 100%
            position: absolute
            overflow: hidden
            svg
              width: 18rem
              height: auto
              position: absolute
          .forecast
            width: 100%
            height: auto
            padding: 10rem 0
          .now
            width: 100%
            display: flex
            justify-content: space-around
            align-items: center
            backdrop-filter: blur(2px)
            overflow: hidden
            margin: 13rem 0
            .texts
              color: var(--weatherTextColor)
              font-family: 'Modulus Pro'
              font-size: 25rem
              .minMax 
                transform: translate(-5rem, 0)
                svg
                  display: inline
                  height: 25rem
                  width: auto
                  fill: var(--weatherTextColor)
                  transform: translate(0, 2rem)
              .temprature
                --fontSize: 40rem
                font-size: var(--fontSize)
                .text
                  font-family: 'Number One Line'
                  line-height: 100rem
                  font-size: calc(var(--fontSize) * 2.7)
            .icon
              height: 160rem
              svg
                width: auto
        .time
          display: flex
          justify-content: space-evenly
          align-items: center
          padding-top: 100rem
          .clock
            width: 175rem
            height: 175rem
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            color: var(--timeTextColor)
            font-family: 'Modulus Pro'
            font-size: 50rem
            border-radius: 50%
            border: 5rem solid #fefffa00
            text-shadow: -.5rem .5rem #1115
            .secondProgress
              width: 175rem
              height: 175rem
              position: absolute
              border-radius: 50%
              display: flex
              justify-content: center
              align-items: center
              .progress
                width: 100%
                height: 100%
                border-radius: 50%
                background: conic-gradient(var(--progressColor) 0deg, var(--progressColor) var(--deg), #fefffa var(--deg), #fefffa 354deg, transparent 354deg, transparent 360deg)
                display: flex
                justify-content: center
                align-items: center
                &::before, &::after
                  content: ''
                  position: absolute
                  width: 5rem
                  height: 5rem
                  border-radius: 50%
                  background: var(--progressColor)
                  top: 0
                &::after
                  background: var(--timeTextColor)
                  left: 76rem
                  top: .1rem
            .dot
              width: 170rem
              height: 170rem
              position: absolute
              display: flex
              justify-content: center
              transform: rotate(var(--deg))
              &::before
                content: ''
                background: var(--progressColor)
                width: 10rem
                height: 10rem
                border-radius: 50%
                transform: translate(0, -50%)
            .hoursArrow, .minutesArrow
              width: 155rem
              height: 155rem
              position: absolute
              display: flex
              justify-content: center
              transform: rotate(var(--hoursDeg))
              &::before
                content: ''
                border: 9rem solid transparent
                transform: translate(0,-50%)
                border-bottom-color: var(--hoursArrowColor)
                top: 0
                position: absolute
            .minutesArrow
              width: 185rem
              height: 185rem
              transform: rotate(var(--minutesDeg))
              &::before
                border-color: transparent
                border-top-color: var(--minutesArrowColor)
          .date
            display: flex
            justify-content: center
            align-items: center
            color: var(--timeTextColor)
            font-family: 'Modulus Pro'
            text-shadow: .5rem .5rem #1115
            .thu
              text-align: right
              font-size: 100rem
              line-height: 85rem
              margin: 0 10rem 0 0
              .t
                font-size: 70rem
                margin: 0 7rem 0 0
                line-height: 0
              .nam
                font-size: 20rem
                line-height: 23rem
            .ngayThang
              font-size: 40rem
              letter-spacing: .5rem
              .progressbar
                --progress: 0%
                width: 100%
                height: 3.5rem
                background: linear-gradient(to right, var(--progressColor) 0rem var(--progress), #fefffa var(--progress) 100%)
                margin: 3.5rem 0
                border-radius: 1.25rem
                display: flex
                align-items: center
                .thangDuong, .thangAm
                  width: 20rem
                  height: 20rem
                  transform: translate(-50%, 0)
                  position: absolute
                  display: flex
                  justify-content: center
                  left: var(--left)
                  &::before
                    content: ''
                    border: 6rem solid #0000
                    border-bottom-color: var(--hoursArrowColor)
                    position: absolute
                    bottom: 0
                .thangDuong::before
                  border-color: #0000
                  border-top-color: var(--minutesArrowColor)
                  top: 0
                  bottom: unset
                &::before
                  content: ''
                  width: 6rem
                  height: 6rem
                  border-radius: 50%
                  background: var(--progressColor)
                  transform: translate(-50%, 0)
                  position: absolute
                  left: var(--progress)
