@charset "UTF-8"

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  position: relative
  &::before, &::after
    display: block
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box

svg
  width: 100%
  height: 100%

@font-face
  font-family: "dripicons-weather"
  src: url("../fonts/dripiconsWeather/dripicons-weather.woff") format("woff"), url("../fonts/dripiconsWeather/dripicons-weather.ttf") format("truetype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 100
  src: url("../fonts/modulusPro/modulusProThin.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 300
  src: url("../fonts/modulusPro/modulusProLight.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 400
  src: url("../fonts/modulusPro/modulusProRegular.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 500
  src: url("../fonts/modulusPro/modulusProMedium.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 700
  src: url("../fonts/modulusPro/modulusProBold.ttf")
@font-face
  font-family: 'Modulus Pro'
  font-style: normal
  font-weight: 900
  src: url("../fonts/modulusPro/modulusProBlack.ttf")
@font-face
  font-family: 'Number One Line'
  font-style: normal
  font-weight: 600
  src: url("../fonts/numberOneLine/numberOneLine.ttf")

@keyframes cloudsSlide
  0%
    transform: translate(calc(var(--cloudSlide) - 300rem), 0)
    opacity: 0
  20%, 80%
    opacity: 1
  100%
    transform: translate(calc(var(--cloudSlide) + 1035rem), 0)
    opacity: 0

html
  font-size: 6.25%
  --timeTextColor: #fefffa
  --progressColor: #c5e36f
  --hoursArrowColor: #f87b79
  --minutesArrowColor: #f0d258
  --weatherTextColor: #fafffc
  --borderBieuDoColor: #f87b79
  --backgroundBieuDoColor: #9a707166
  body
    display: flex
    justify-content: center
    align-items: center
    background: #000
    &::-webkit-scrollbar
      display: none
    .main
      width: 0
      height: 0
      border-radius: 10rem
      overflow: hidden
      .background, .contents
        // background: #b9eefe
        width: 100%
        height: 100%
        position: absolute
        .top, .bottom
          width: 100%
          height: 100%
          position: absolute
          display: flex
          justify-content: center
          flex-wrap: wrap
          svg
            height: auto
            margin: 0 0 var(--bottom) 0
        .bottom
          --margin: 0
          align-content: flex-end
        .top
          align-content: flex-start
          --cloudsDuration: 5s
          svg path
            animation: cloudsSlide var(--cloudsDuration) linear infinite
            transform: translate(0, 0)
            &:nth-child(1)
              --cloudSlide: -149rem
              animation-duration: calc( var(--cloudsDuration) - 2s )
              animation-delay: calc( var(--cloudsDuration) * 0.3 )
            &:nth-child(2)
              --cloudSlide: -494rem
              animation-duration: calc( var(--cloudsDuration) - 4s )
            &:nth-child(3)
              --cloudSlide: -807rem
              animation-delay: calc( var(--cloudsDuration) * 0.6 )
      .background
        background: linear-gradient(to top, #6a9d0d 0px calc(var(--bottom) + 1rem), #b9eefe calc(var(--bottom) + 1rem) 100%)
      .contents
        background: #0000
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-content: space-between
        .time, .weather
          width: 100%
          height: auto
        .weather
          text-shadow: -.5rem .5rem #1115
          .randomFlower
            width: 100%
            height: 100%
            position: absolute
            overflow: hidden
            svg
              width: 18rem
              height: auto
              position: absolute
          .updateBy
            width: 100%
            height: auto
            color: var(--weatherTextColor)
            font-family: 'Modulus Pro'
            font-size: 12rem
            text-align: right
          .duBao
            position: absolute
            font-family: 'Modulus Pro'
            font-size: 15rem
            left: 40rem
            color: var(--weatherTextColor)
            top: 10rem
            background: linear-gradient(to top, #7e8b35, #6a9d0d)
            padding: 0 10rem
          .forecast
            width: 100%
            height: auto
            padding: 20rem
            padding-bottom: 10rem
            .bieuDo
              width: 100%
              height: 190rem
              border: 4rem solid var(--borderBieuDoColor)
              border-radius: 15rem
              backdrop-filter: blur(2px)
              background: var(--backgroundBieuDoColor)
              overflow: hidden
              .duoi
                width: 100%
                height: 20%
                display: flex
                justify-content: space-between
                align-items: flex-start
                font-family: 'Modulus Pro'
                font-size: 13rem
                color: var(--weatherTextColor)
                .text
                  margin-top: 13rem
                  &:nth-child(2)
                    margin-left: 25rem
                  &:last-child
                    margin-right: 1rem
                .line
                  width: 90%
                  height: 2rem
                  background: var(--weatherTextColor)
                  border-radius: 1rem
                  position: absolute
                  right: 10rem
                  display: flex
                  justify-content: flex-end
                  &::before
                    content: ''
                    width: 10rem
                    height: 100%
                    background: var(--weatherTextColor)
                    border-radius: 1rem 0 0 1rem
                    transform-origin: 100% 50%
                    transform: translate(-1rem, 0) rotate(-30deg)
              .tren
                width: 100%
                height: 80%
                display: flex
                justify-content: flex-start
                align-items: center
                .temperatureLine
                  width: 10%
                  height: 100%
                  display: flex
                  flex-wrap: wrap
                  align-content: space-between
                  justify-content: flex-end
                  .line
                    width: 2rem
                    height: 100%
                    position: absolute
                    right: 0
                    transform: translate(0, 10rem)
                    background: var(--weatherTextColor)
                    border-radius: 1rem
                    &::before
                      content: ''
                      width: 100%
                      height: 10rem
                      background: var(--weatherTextColor)
                      border-radius: 0 0 1rem 1rem
                      transform-origin: 50% 0
                      transform: translate(0, 1rem) rotate(30deg)
                  .text
                    font-family: 'Modulus Pro'
                    font-size: 13rem
                    color: var(--weatherTextColor)
                    text-align: right
                    white-space: pre
                    margin-right: 1rem
                    line-height: 1rem
                    &:nth-child(2)
                      margin: 15rem 0 0 0
                .doThi
                  width: calc(100% - 10rem)
                  height: 100%
                  padding-right: 10rem
                  display: flex
                  align-items: flex-end
                  .grid
                    width: calc(100% - 10rem)
                    height: calc(100% - 10rem)
                    position: absolute
                    opacity: .25
                    .v
                      display: flex
                      justify-content: space-between
                      align-items: flex-end
                      width: 100%
                      height: 100%
                      position: absolute
                      top: 0
                      div
                        width: 1rem
                        height: 100%
                        background: var(--weatherTextColor)
                        &:first-child
                          margin-left: 71.5rem
                        &:last-child
                          margin-right: 7rem
                    .h
                      display: flex
                      justify-content: flex-start
                      align-content: space-between
                      flex-wrap: wrap
                      width: 100%
                      height: 100%
                      div
                        width: 100%
                        height: 1rem
                        background: var(--weatherTextColor)
                        &:first-child
                          margin-top: 36.5rem
                        &:last-child
                          margin-bottom: 33rem
                  svg
                    width: 100%
                    height: auto
          .now
            width: 100%
            display: flex
            justify-content: space-around
            align-items: center
            backdrop-filter: blur(2px)
            overflow: hidden
            margin: 13rem 0
            .texts
              color: var(--weatherTextColor)
              font-family: 'Modulus Pro'
              font-size: 25rem
              .minMax
                transform: translate(-5rem, 0)
                .dripicons
                  font-family: "dripicons-weather"
                  line-height: 0
              .temprature
                --fontSize: 40rem
                font-size: var(--fontSize)
                .text
                  font-family: 'Number One Line'
                  line-height: 100rem
                  font-size: calc(var(--fontSize) * 2.7)
                .dot
                  font-size: 100rem
                  line-height: 0
            .icon
              height: 160rem
              display: flex
              justify-content: center
              flex-wrap: wrap
              width: 160rem
              svg
                width: auto
                height: 80%
              .trangThai
                color: var(--weatherTextColor)
                font-family: 'Modulus Pro'
                font-size: 25rem
                line-height: 30rem
                white-space: nowrap
        .time
          display: flex
          justify-content: space-evenly
          align-items: center
          padding-top: 100rem
          .clock
            width: 175rem
            height: 175rem
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            color: var(--timeTextColor)
            font-family: 'Modulus Pro'
            font-size: 50rem
            border-radius: 50%
            border: 5rem solid #fefffa00
            text-shadow: -.5rem .5rem #1115
            .secondProgress
              width: 175rem
              height: 175rem
              position: absolute
              border-radius: 50%
              display: flex
              justify-content: center
              align-items: center
              .progress
                width: 100%
                height: 100%
                border-radius: 50%
                background: conic-gradient(var(--progressColor) 0deg, var(--progressColor) var(--deg), #fefffa var(--deg), #fefffa 354deg, transparent 354deg, transparent 360deg)
                display: flex
                justify-content: center
                align-items: center
                &::before, &::after
                  content: ''
                  position: absolute
                  width: 5rem
                  height: 5rem
                  border-radius: 50%
                  background: var(--progressColor)
                  top: 0
                &::after
                  background: var(--timeTextColor)
                  left: 76rem
                  top: .1rem
            .dot
              width: 170rem
              height: 170rem
              position: absolute
              display: flex
              justify-content: center
              transform: rotate(var(--deg))
              &::before
                content: ''
                background: var(--progressColor)
                width: 10rem
                height: 10rem
                border-radius: 50%
                transform: translate(0, -50%)
            .hoursArrow, .minutesArrow
              width: 155rem
              height: 155rem
              position: absolute
              display: flex
              justify-content: center
              transform: rotate(var(--hoursDeg))
              &::before
                content: ''
                border: 9rem solid transparent
                transform: translate(0,-50%)
                border-bottom-color: var(--hoursArrowColor)
                top: 0
                position: absolute
            .minutesArrow
              width: 185rem
              height: 185rem
              transform: rotate(var(--minutesDeg))
              &::before
                border-color: transparent
                border-top-color: var(--minutesArrowColor)
          .date
            display: flex
            justify-content: center
            align-items: center
            color: var(--timeTextColor)
            font-family: 'Modulus Pro'
            text-shadow: .5rem .5rem #1115
            .thu
              text-align: right
              font-size: 100rem
              line-height: 85rem
              margin: 0 10rem 0 0
              .t
                font-size: 70rem
                margin: 0 7rem 0 0
                line-height: 0
              .nam
                font-size: 20rem
                line-height: 23rem
            .ngayThang
              font-size: 40rem
              letter-spacing: .5rem
              .progressbar
                --progress: 0%
                width: 100%
                height: 3.5rem
                background: linear-gradient(to right, var(--progressColor) 0rem var(--progress), #fefffa var(--progress) 100%)
                margin: 3.5rem 0
                border-radius: 1.25rem
                display: flex
                align-items: center
                .thangDuong, .thangAm
                  width: 20rem
                  height: 20rem
                  transform: translate(-50%, 0)
                  position: absolute
                  display: flex
                  justify-content: center
                  left: var(--left)
                  &::before
                    content: ''
                    border: 6rem solid #0000
                    border-bottom-color: var(--hoursArrowColor)
                    position: absolute
                    bottom: 0
                .thangDuong::before
                  border-color: #0000
                  border-top-color: var(--minutesArrowColor)
                  top: 0
                  bottom: unset
                &::before
                  content: ''
                  width: 6rem
                  height: 6rem
                  border-radius: 50%
                  background: var(--progressColor)
                  transform: translate(-50%, 0)
                  position: absolute
                  left: var(--progress)
