html, body {
  position: absolute;
  width: 980px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background_menu);
  transition: all 0.5s ease-in-out;
  z-index: -2;
}
@font-face {
  font-family: "Text_Art";
  src: url("./Arial.ttf");
}
/* **********Start_Color_Dark-Night_Mode********** */
:root {
  --background: #ffffff;
  --reverse_background: #161625;
  --opacity: 1;
  --reverse_opacity: 0;
  --background_menu: #4c34b3;
  --content_container_shadow: #fdefef;
}
[data-theme="dark"] {
  --background: #161625;
  --reverse_background: #ffffff;
  --opacity: 0;
  --reverse_opacity: 1;
  --background_menu: #0574fb;
  --content_container_shadow: #52057b;
}
/* **********End_Color_Dark-Night_Mode**********
=====================================================
   **********Start_Assitive_Touch_Module********** */
#Assitive_Touch {
  position: fixed;
  width: 115px;
  height: 217.01754385px;
}
#Button_Menu {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 3px solid var(--reverse_background);
  border-radius: 10px;
  top: 5px;
  left: 5px;
  background-color: var(--background);
}
#Stick_Button_Menu {
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: var(--reverse_background);
  top: 45px;
  left: 15px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#Stick_Button_Menu::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: var(--reverse_background);
  top: -25px;
  left: 0px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#Stick_Button_Menu::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: var(--reverse_background);
  top: 25px;
  left: 0px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#Button_Menu.open #Stick_Button_Menu {
  position: absolute;
  width: 120px;
  height: 10px;
  left: -9px;
  transform: rotate(-225deg);
}
#Button_Menu.open #Stick_Button_Menu::before {
  position: absolute;
  top: -25px;
  left: 25px;
  transform: rotate(270deg);
}
#Button_Menu.open #Stick_Button_Menu::after {
  position: absolute;
  top: 25px;
  left: 25px;
  transform: rotate(270deg);
}
.theme-switch {
  top: 115px;
  left: 5px;
  display: block;
  height: 57.01754385px;
  position: absolute;
  width: 100px;
  border: 3px solid var(--reverse_background);
  border-radius: 34px;
}
.theme-switch input {
  display: none;
}
.slider {
  background-color: var(--background);
  top: 0px;
  cursor: pointer;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.slider::before {
  background-color: var(--reverse_background);
  bottom: 7.01754386px;
  content: "";
  height: 42.98245613px;
  left: 7.01754386px;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 42.98245613px;
}
input:checked + .slider {
  background-color: var(--background);
}
input:checked + .slider::before {
  transform: translateX(42.98245613px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}

#Text_Dark, #Text_Light {
  position: absolute;
  font-family: "Text_Art";
  z-index: 2;
  font-size: 2.5em;
  top: 177.01754385px;
  left: 5px;
  color: var(--reverse_background);
}
#Text_Light {
  opacity: var(--opacity);
}
#Text_Dark {
  opacity: var(--reverse_opacity);
}
/* **********End_Assitive_Touch_Module********** */
#content_container {
  position: absolute;
  width: 980px;
  min-height: 100vh;
  background-color: var(--background);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
#content_container.open {
  border-radius: 34px;
  height: 100vh;
  transform: scale(0.7161107168, 0.7161107168) translate(600px, 50px) rotate(360deg);
  box-shadow: 0px 0px 100px 10px var(--content_container_shadow);
  overflow: hidden;
}
#Images_Light, #Images_Dark, #Images_Background {
  position: absolute;
  top: -110px;
  left: 0px;
  width: 680px;
  transition: all 0.5s ease-in-out;
}
#Images_Repeat {
  position: absolute;
  width: 680px;
  left: 680px;
  top: -110px;
}
#Images_Light {
  opacity: var(--opacity);
}
#Images_Dark {
  opacity: var(--reverse_opacity);
}
