@font-face {
  font-family: "Text_Art";
  src: url("./Arial.ttf");
}
/* **********Start_Color_Dark-Night_Mode********** */
:root {
  --background: #ffffff;
  --reverse_background: #161625;
  --opacity: 1;
  --reverse_opacity: 0;
  --background_menu: #4c34b3;
  --content_container_shadow: #fdefef;
  --textColor: #0A1931;
  --reverse_textColor: #efefef;
  --backgroundTitle: linear-gradient(to top left, #d57e7e, #c6d57e);
  -partSadowColor: #ff00e4;
  --bgImg: ffffff;
}
[data-theme="dark"] {
  --background: #161625;
  --reverse_background: #ffffff;
  --opacity: 0;
  --reverse_opacity: 1;
  --background_menu: #0574fb;
  --content_container_shadow: #52057b;
  --textColor: #efefef;
  --reverse_textColor: #0A1931;
  --backgroundTitle: linear-gradient(to top left, #6930c3, #e45826);
  --partSadowColor: #ffffff;
  --bgImg: rgb(21, 25, 53);
}
/* **********End_Color_Dark-Night_Mode********** */
html, body {
  position: absolute;
  width: 980px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--background);
  transition: all 0.5s ease-in-out;
  z-index: -2;
}
body.open {
  background-color: var(--background_menu);
}
#TitleMenu {
  position: absolute;
  font-family: Text_Art;
  color: #efefef;
  opacity: 0;
  font-size: 6em;
  top: 150px;
  left: 35px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
body.open #TitleMenu {
  opacity: 1;
}
#ItemMenu {
  position: absolute;
  width: 450px;
  height: 80vh;
  top: 250px;
  left: 75px;
  font-family: Text_Art;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  display: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
#ItemMenu::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}
body.open #ItemMenu {
  display: block;
}
#ItemMenu ul li a {
  color: #efefef;
}
#ItemMenu ul li {
  width: 100%;
  margin-top: 10px;
  height: /* 90px */112.5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
#ItemMenu ul li:hover {
  background-image: linear-gradient(to right, #ffc947, #0574fb00);
}
#ItemMenu ul li img {
  margin-right: 18.75px;
  margin-left: 18.75px;
  margin-top: 28.125px;
  height: /* 60 */56.25px;
}
.ButtonScollToTop {
  position: absolute;
  margin-top: 35px;
  font-size: 42.5px;
  text-decoration: none;
}
/*   **********Start_Assitive_Touch_Module********** */
#Assitive_Touch {
  position: fixed;
  width: 115px;
  height: 182.0175439px;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#Button_Menu {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 3px solid var(--reverse_background);
  border-radius: 10px;
  top: 5px;
  left: 5px;
  background-color: var(--background);
}
#Stick_Button_Menu {
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: var(--reverse_background);
  top: 45px;
  left: 15px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#Stick_Button_Menu::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: var(--reverse_background);
  top: -25px;
  left: 0px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#Stick_Button_Menu::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: var(--reverse_background);
  top: 25px;
  left: 0px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
#Button_Menu.open #Stick_Button_Menu {
  position: absolute;
  width: 120px;
  height: 10px;
  left: -9px;
  transform: rotate(-225deg);
}
#Button_Menu.open #Stick_Button_Menu::before {
  position: absolute;
  top: -25px;
  left: 25px;
  transform: rotate(270deg);
}
#Button_Menu.open #Stick_Button_Menu::after {
  position: absolute;
  top: 25px;
  left: 25px;
  transform: rotate(270deg);
}
.theme-switch {
  top: 115px;
  left: 5px;
  display: block;
  height: 57.01754385px;
  position: absolute;
  width: 100px;
  border: 3px solid var(--reverse_background);
  border-radius: 34px;
}
.theme-switch input {
  display: none;
}
.slider {
  background-color: var(--background);
  top: 0px;
  /*cursor: pointer;*/
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.slider::before {
  background-color: var(--reverse_background);
  bottom: 7.01754386px;
  content: "";
  height: 42.98245613px;
  left: 7.01754386px;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 42.98245613px;
}
input:checked + .slider {
  background-color: var(--background);
}
input:checked + .slider::before {
  transform: translateX(42.98245613px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}
#ledDark, #ledLight {
  position:absolute;
  height: 30px;
  top: 13.50877193px;
  left: 17.63377193px;
  transition: all 0.5s ease-in-out;
}
input:checked + .slider #ledLight {
  transform: translateX(42.98245613px) rotate(720deg);
  opacity: var(--opacity);
}
input:checked + .slider #ledDark {
  transform: translateX(42.98245613px) rotate(720deg);
  opacity: var(--reverse_opacity);
}
/* **********End_Assitive_Touch_Module********** */
#content_container {
  position: absolute;
  width: 980px;
  /*height: 16000px;*/
  min-height: 100vh;
  background-color: var(--background);
  z-index: -1;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
}
#content_container.open {
  border-radius: 34px;
  height: 100vh;
  transform: scale(0.7161107168, 0.7161107168) translate(600px, 50px) rotate(360deg);
  box-shadow: 0px 0px 100px 10px var(--content_container_shadow);
  overflow: hidden;
}
#title {
  position: absolute;
  width: 980px;
  height: 371px;
  background-image: var(--backgroundTitle);
  top: 0px;
  left: 0px;
  transition: all 0.5s ease-in-out;
}
#title h1 {
  color: #efefef;
  font-family: Text_Art;
  font-size: 5em;
  text-align: center;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
}
#title span {
  color: #efefef;
  font-family: Text_Art;
  font-size: 1.9em;
  text-align: center;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  transition: all 0.5s ease-in-out;
}
#pdbg {
  position: absolute;
  top: 420px;
}
#part1 {
  position: absolute;
  top: 420px;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  height: 630px;
  background-color: #ffffff;
  color: #0A1931;
  font-family: Text_Art;
  font-size: 5em;
  text-align: center;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgb(215 215 215 / 50%) 0px 5px 16px;
  transition: all 0.5s ease-in-out;
}
#part1 img {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#Images_Light, #Images_Dark, #Images_Background {
  position: absolute;
  top: -110px;
  left: 0px;
  width: 680px;
  transition: all 0.5s ease-in-out;
}
#Images_Repeat {
  position: absolute;
  width: 680px;
  left: 680px;
  top: -110px;
}
#Images_Light {
  opacity: var(--opacity);
}
#Images_Dark {
  opacity: var(--reverse_opacity);
}
#ScollToTop {
  position: absolute;
  top: 0px;
}
#contentPart1 {
  position:absolute;
  width: 800px;
  top: 1070px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Text_Art;
  color: var(--textColor);
}
#kn {
  font-size: 3em;
}
#ndkn {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 2.5em;
}
#ndpl {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 2.5em;
}
#hqyn {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3em;
}
#hq {
  margin-left: 15px;
  font-size: 2.75em;
  margin-bottom: 20px;
}
#bhq1 {
  position: absolute;
  left: 91px;
  width: 300px;
  height: 340.4px;
  background-color: var(--bgImg);
  border-top-left-radius: 20px;
  overflow: hidden;
}
#bhq1 span {
  font-size: 1.4em;
  margin: 10px;
  display: block;
  margin-left: 20px;
}
#hq1 {
  width: 100%;
}
#bhq2 {
  position: absolute;
  right: 91px;
  top: 471px;
  width: 300px;
  height: 340.4px;
  background-color: var(--bgImg);
  border-top-right-radius: 20px;
  overflow: hidden;
}
#bhq2 span {
  font-size: 1.4em;
  margin-top: 78px;
  display: block;
  margin-left: 30px;
}
#hq2 {
  width: 100%;
}
#bhq3 {
  position: absolute;
  left: 91px;
  top: 827.4px;
  width: 619px;
  height: 446px;
  background-color: var(--bgImg);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
#bhq3 span {
  font-size: 1.4em;
  margin-top: 10px;
  display: block;
  margin-left: 190px;
}
#hq3 {
  width: 100%;
}
#ndhq {
  position: relative;
  top: 813.4px;
  font-size: 2.5em;
  margin-left: 30px;
}
#yn {
  margin-left: 15px;
  font-size: 2.75em;
  margin-bottom: 20px;
  margin-top: 820px;
}
#ndyn {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 2.5em;
}
#cltg {
  width: 800px;
  height: 308.4px;
  background-color: var(--bgImg);
  border-radius: 10px;
}
#lch1 {
  width: 250px;
  margin: 6.25px;
  border-radius: 10px;
}
#lch2 {
  width: 250px;
  margin: 6.25px;
  border-radius: 10px;
}
#lch3 {
  width: 250px;
  margin: 6.25px;
  border-radius: 10px;
}
#cltg span {
  font-size: 1.4em;
  margin-left: 136px;
  margin-top: 10px;
}
#part2 {
  position: relative;
  top: 3090px;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  height: 790px;
  background-color: #ffffff;
  color: #0A1931;
  font-family: Text_Art;
  font-size: 5em;
  text-align: center;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgb(215 215 215 / 50%) 0px 5px 16px;
  transition: all 0.5s ease-in-out;
}
.tdbsl {
  margin-top: 18px;
}
#p2 {
  position: absolute;
  top: 3090px;
}
#part2 img {
  width: 100%;
}
#contentPart2 {
  position:absolute;
  width: 800px;
  top: 2930px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Text_Art;
  color: var(--textColor);
}
#knplsl {
  position: relative;
  font-size: 3em;
  margin-top: 972px;
}
#ndhqsl {
  margin-top: 20px;
  font-size: 2.5em;
  margin-left: 30px;
}
#p3 {
  position: absolute;
  top: 4885px;
}
#part3 {
  position: relative;
  top: 4100px;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  height: 800px;
  background-color: #ffffff;
  color: #0A1931;
  font-family: Text_Art;
  font-size: 5em;
  text-align: center;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgb(215 215 215 / 50%) 0px 5px 16px;
  transition: all 0.5s ease-in-out;
}
#part3 img {
  width: 100%;
}
#contentPast3 {
  position:absolute;
  width: 800px;
  top: 4750px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Text_Art;
  color: var(--textColor);
}
#knplct {
  position: relative;
  font-size: 3em;
  margin-top: 972px;
}
#p4 {
  position: absolute;
  top: 6930px;
}
#part4 {
  position: relative;
  top: 4950px;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient( to bottom right, #e66465, #9198e5);
  color: #0A1931;
  font-family: Text_Art;
  font-size: 5em;
  text-align: center;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgb(215 215 215 / 50%) 0px 5px 16px;
  transition: all 0.5s ease-in-out;
}
#contentPast4 {
  position:absolute;
  width: 800px;
  top: 4750px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Text_Art;
  color: var(--textColor);
}
#gn {
  margin-top: 2000px;
  margin-bottom: 10px;
  font-size: 3em;
}
