@font-face {
  font-family: "vt";
  src: url("file:///var/mobile/Documents/blog/font/Arial.ttf");
}
#bnt {
  background-color: var(--bg-color);
  opacity: 0;
}
:root {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
        --heading-color: #818cab;
        --border-button-menu-color: #fff;
        --text-light-mode-color: #42424200;
        --text-dark-mode-color: #e1e1ff;
        --bg-mn-color: #fff;
        --bg-tmn-color: #343434;
        --lm-color: rgba(255,255,255,0.5);
        --opacity: 0;
        --opacity2: 1;
        --cotton-seed: #bebbb2;
        --mine-shaft: #343434;
        --mariner: #346ac9;
        --tradewind: #63b1b1;
        --crimson: #dd1b4a;
        --gray: #7f7f7f;
        --blue-chill: #088585;
        --ultramarine: #0a0e84;
        --scorpion: #5b5b5b;
        --tundora: #4c4c4c;
      }
      [data-theme=dark] {
        --primary-color: #302AE6;
        --secondary-color: #536390;
        --font-color: #424242;
        --bg-color: #fff;
        --heading-color: #292922;
        --border-button-menu-color: #161625;
        --text-light-mode-color: #424242;
        --text-dark-mode-color: #e1e1ff00;
        --bg-mn-color: #161625;
        --bg-tmn-color: #fff;
        --lm-color: rgba(0,0,0,0.5);
        --opacity: 1;
        --opacity2: 0;
        --cotton-seed: #bebbb2;
        --mine-shaft: #343434;
        --mariner: #346ac9;
        --tradewind: #63b1b1;
        --crimson: #dd1b4a;
        --gray: #7f7f7f;
        --blue-chill: #088585;
        --ultramarine: #0a0e84;
        --scorpion: #5b5b5b;
        --tundora: #4c4c4c;
      }
      #theme-switch-wrapper {
        position: fixed;
        width: 120px;
        height: 240px;
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        z-index: 1;
      }
      #text-dark-mode {
        position: absolute;
        top: 130px;
        margin-left: 0px;
        font-size: 2.5em;
        font-family: vt;
        color: var(--text-dark-mode-color);
        left: 15px;
      }
      #text-light-mode {
        position: absolute;
        top: 130px;
        margin-left: 0px;
        font-size: 2.5em;
        font-family: vt;
        color: var(--text-light-mode-color);
        left: 15px;
      }
      .theme-switch {
        top: 37px;
        left: 0px;
        display: block;
        height: 65px;
        position: relative;
        width: 114px;
        border: 3px solid var(--bg-color);
        border-radius: 34px;
      }
      .theme-switch input {
        display: none;
      }
      .slider {
        background-color: rgba(255,255,255,1);
        right: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        transition: 0.4s;
      }
      .slider::before {
        background-color: var(--bg-color);
        bottom: 8px;
        content: "";
        height: 49px;
        left: 57px;
        position: absolute;
        transition: 0.4s;
        width: 49px;
      }
      input:checked + .slider {
        background-color: #161625;
      }
      input:checked + .slider::before {
        transform: translateX(-49px);
      }
      .slider.round {
        border-radius: 34px;
      }
      .slider.round::before {
        border-radius: 50%;
      }
      #bg {
        background-color: var(--bg-color);
        width: 980px;
        min-height: 1409px;
        overflow: hidden;
      }
      #bg {
        display: block;
      }
      #bg.open {
        display: none;
      }
      #test {
        width: 117px;
        height: 117px;
        background-color: var(--bg-color);
        margin-bottom: 5px;
        border: 3px solid var(--border-button-menu-color);
        border-radius: 10px;
      }
      .menu-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger {
        width: 100px;
        height: 12px;
        background: var(--border-button-menu-color);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(255,101,47,0.2);
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 12px;
        background: var(--border-button-menu-color);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(255,101,47,0.2);
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      }
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
      .test2 {
        background-color: var(--bg-mn-color);
        position: fixed;
        width: 637px;
        height: 1107px;
        top: 0px;
        left: -650px;
        transition: all 0.5s ease-in-out;
        border-bottom-right-radius: 20px;
        border-right: 3px solid var(--bg-tmn-color);
        border-bottom: 3px solid var(--bg-tmn-color);
        z-index: 1;
      }
      #test21 {
        position: absolute;
        width: 637px;
      }
      .test2.open {
        transform: translateX(650px);
      }
      #bgmn ul {
        position: absolute;
        font-family: vt;
        font-size: 70px;
        top: 0px;
        left: 100px;
        width: 537px;
        height: 1117px;
        border-bottom-right-radius: 20px;
        overflow-x: hidden; /*hidden;*/
        overflow-y: auto;
      }
      #bgmn ul li a {
        position: relative;
        text-decoration: none;
        top: 25px;
        display: block;
	     padding: 20px 15px;
        color: rgba(127.5,127.5,127.5,1);
        /*var(--bg-tmn-color)*/
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
      }
      #bgmn ul li a::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        top: -43px;
        right: -3px;
        border-bottom-right-radius: 20px;
      }
      #bgmn ul li a::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -43px;
        right: -3px;
        border-top-right-radius: 20px;
      }
      #bgmn ul li a:hover {
        border-top: 4px solid var(--bg-tmn-color);
        border-bottom: 4px solid var(--bg-tmn-color);
        border-left: 4px solid var(--bg-tmn-color);
        font-size: 75px;
        color: var(--bg-tmn-color);
      }
      #bgmn ul li a:active {
        background-color: var(--bg-tmn-color);
        color: var(--bg-mn-color);
        border-top: 3px solid var(--bg-tmn-color);
        border-bottom: 3px solid var(--bg-tmn-color);
        border-left: 3px solid var(--bg-tmn-color);
        font-size: 80px;
      }
      #bgmn ul li a:hover::before {
        border-bottom: 3px solid var(--bg-tmn-color);
        border-right: 3px solid var(--bg-tmn-color);
        box-shadow: 0px 30px 0px 0px var(--bg-mn-color);
      }
      #bgmn ul li a:hover::after {
        border-top: 3px solid var(--bg-tmn-color);
        border-right: 3px solid var(--bg-tmn-color);
        box-shadow: 0px -30px 0px 0px var(--bg-mn-color);
      }
      #bgmn ul li a:active::before {
        border-bottom: 3px solid var(--bg-tmn-color);
        border-right: 3px solid var(--bg-tmn-color);
        box-shadow: 0px 30px 0px 0px var(--bg-tmn-color);
      }
      #bgmn ul li a:active::after {
        border-top: 3px solid var(--bg-tmn-color);
        border-right: 3px solid var(--bg-tmn-color);
        box-shadow: 0px -30px 0px 0px var(--bg-tmn-color);
      }
      /* CSV 
        5a6169,
        1c2323,
        e9e7ea,
        348cfa,
        81be9f,
        92999f,
        2c3034,
        8e827e,
        442c34,
      */
      #t1 {
        position: absolute;
        width: 980px;
        height: 500px;
        top: 0px;
        left: 0px;
        background-color: ;
        z-index: 0;
        overflow: hidden;
      }
      #t2 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 1000px;
        left: 0px;
        background-color: blue;
        z-index: 0;
      }
      #t3 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 2000px;
        left: 0px;
        background-color: red;
        z-index: 0;
      }
      #t4 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 3000px;
        left: 0px;
        background-color: black;
        z-index: 0;
      }
      #t5 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 4000px;
        left: 0px;
        background-color: #936298;
        z-index: 0;
      }
      #t6 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 6000px;
        left: 0px;
        background-color: green;
        z-index: 0;
      }
      #t7 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 8000px;
        left: 0px;
        background-color: blue;
        z-index: 0;
      }
      #t8 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 10000px;
        left: 0px;
        background-color: red;
        z-index: 0;
      }
      #t9 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 12000px;
        left: 0px;
        background-color: black;
        z-index: 0;
      }
      #t10 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 14000px;
        left: 0px;
        background-color: #936298;
        z-index: 0;
      }
      #t11 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 16000px;
        left: 0px;
        background-color: green;
        z-index: 0;
      }
      #t12 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 18000px;
        left: 0px;
        background-color: blue;
        z-index: 0;
      }
      #t13 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 20000px;
        left: 0px;
        background-color: red;
        z-index: 0;
      }
      #t14 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 22000px;
        left: 0px;
        background-color: black;
        z-index: 0;
      }
      #t15 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 24000px;
        left: 0px;
        background-color: #936298;
        z-index: 0;
      }
      #t16 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 26000px;
        left: 0px;
        background-color: green;
        z-index: 0;
      }
      #t17 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 28000px;
        left: 0px;
        background-color: blue;
        z-index: 0;
      }
      #t18 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 30000px;
        left: 0px;
        background-color: red;
        z-index: 0;
      }
      #t19 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 32000px;
        left: 0px;
        background-color: black;
        z-index: 0;
      }
      #t20 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 34000px;
        left: 0px;
        background-color: #936298;
        z-index: 0;
      }
      #t21 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 36000px;
        left: 0px;
        background-color: green;
        z-index: 0;
      }
      #t22 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 38000px;
        left: 0px;
        background-color: blue;
        z-index: 0;
      }
      #t23 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 40000px;
        left: 0px;
        background-color: red;
        z-index: 0;
      }
      #t24 {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 42000px;
        left: 0px;
        background-color: black;
        z-index: 0;
      }
      #avt {
        position: absolute;
        top: -110px;
        left: 0px;
        width: 680px;
        opacity: var(--opacity);
      }
      #avtd {
        position: absolute;
        top: -110px;
        left: 0px;
        width: 680px;
        opacity: var(--opacity2);
      }
      #avt2 {
        position: absolute;
        top: -110px;
        left: 680px;
        width: 680px;
      }
      #lm {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        background-color: var(--lm-color);
        display: none;
      }
      #vs {
        position: fixed;
        width: 57px;
        height: 32.5px;
        border: 1.5px solid var(--bg-mn-color);
        border-radius: 34px;
        background-color: var(--bg-color);
        right: 15px;
        top: 15px;
      }
      #bvs {
        position: absolute;
        width: 24.5px;
        height: 24.5px;
        top: 4px;
        left: 4px;
        background-color: var(--bg-mn-color);
        border-radius: 50%;
        transition: 0.4s;
      }
      #bvs.open {
        transform: translateX(24.5px);
      }
      #lm.open {
        display: block;
      }
      #bg2 {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        top: 0px;
        left: 0px;
        background-color: var(--bg-color);
        display: none;
        font-family: vt;
        font-size: 2.5em;
      }
      #bg2.open {
        display: block;
      }