body{
  --bodyBackgroundGradient:#94BAC4;
  --bodyBackgroundGradient2:#F1C995;
  --sunColor:#F1E110;/*#FDF200*/
  --dateTextColor:#fff;
  --dateTextColor99:#fff9;
  --secondAndHourBackgroundColor:#94BAC4;
  --mountain7Color:#A6FD65;
  --mountain6Color:#95e45b;
  --mountain5Color:#86cd52;
  --mountain4Color:#79b94a;
  --mountain3Color:#6da743;
  --mountain2Color:#62963c;
  --mountain1Color:#588736;
  --mountain0Color:#4f7a31;
  --treeShadowColor:#fff;
  --trunkColor:#745a48;
  --leaf3Color:#708636;
  --leaf2Color:#7c953c;
  --leaf1Color:#8aa643;
}
div.scenery{
  display:block
}