@font-face {
  font-family: "Modulus Pro";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/modulusPro/modulusProThin.ttf");
}
@font-face {
  font-family: "Modulus Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/modulusPro/modulusProLight.ttf");
}
@font-face {
  font-family: "Modulus Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/modulusPro/modulusProRegular.ttf");
}
@font-face {
  font-family: "Modulus Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/modulusPro/modulusProMedium.ttf");
}
@font-face {
  font-family: "Modulus Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/modulusPro/modulusProBold.ttf");
}
@font-face {
  font-family: "Modulus Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/modulusPro/modulusProBlack.ttf");
}
@font-face {
  font-family: "Number One Line";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/numberOneLine/numberOneLine.ttf");
}
@font-face {
  font-family: "Number Cat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/numberCat/numberCat.ttc");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  position: relative;
  font-size: 16px;
  font-family: "Modulus Pro";
  transition: all 0.75s ease;
}

html {
  font-size: 62.5%;
}
html body {
  background: #000;
}
html body .background, html body .mainContents, html body .screenOff {
  width: var(--innerWidth, 100%);
  height: var(--innerHeight, 216rem);
}
html body .background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to bottom, #dd1c5d, #e63f3c);
  flex-flow: nowrap column;
  z-index: -1;
}
html body .background svg {
  width: 100%;
  height: auto;
  display: block;
}
html body .background svg * {
  transform: translate(0, 1.5rem);
}
html body .background .backgroundFooter {
  width: 100%;
  height: var(--height);
  background: #5e284f;
}
html body .mainContents {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  margin: auto;
}
html body .mainContents .dateContents, html body .mainContents .weatherContents {
  width: 100%;
  height: auto;
}
html body .mainContents .dateContents {
  background: rgba(255, 0, 0, 0);
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  text-align: center;
  margin: 10rem 0 0 0;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
}
html body .mainContents .dateContents .day {
  font-size: 7rem;
  font-weight: 600;
}
html body .mainContents .dateContents .calendar {
  margin: 1.5rem 0 0 0;
}
html body .mainContents .dateContents .calendar div {
  font-weight: 500;
  font-size: 3.5rem;
}
html body .mainContents .dateContents .calendar div.lunar {
  margin: 0.4rem 0 0 0;
}
html body .mainContents .weatherContents {
  width: 100%;
  height: auto;
}
html body .mainContents .weatherContents .weatherMainContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 4rem 2rem;
  width: auto;
  height: auto;
}
html body .mainContents .weatherContents .weatherMainContents .text {
  color: #fff;
}
html body .mainContents .weatherContents .weatherMainContents .text .temperature {
  font-size: 3.5rem;
}
html body .mainContents .weatherContents .weatherMainContents .text .temperature span {
  font-size: 10rem;
  font-weight: 900;
  font-family: "Number One Line";
}
html body .mainContents .weatherContents .weatherMainContents .text .description {
  font-size: 3.5rem;
}
html body .mainContents .weatherContents .weatherMainContents .icon {
  height: calc(100% - 1rem);
  width: auto;
}
html body .mainContents .weatherContents .weatherMainContents .icon img {
  width: 100%;
  height: 100%;
}
html body .mainContents .weatherContents .weatherUpdateTime {
  width: 100%;
  height: auto;
  text-align: right;
  padding: 0 1rem 0 0;
  color: #fff;
  letter-spacing: 0.1rem;
}
html body .screenOff {
  display: none;
  background: #000;
  position: absolute;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
