@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 100
	src: url("../fonts/modulusPro/modulusProThin.ttf") format('.ttf')
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 300
	src: url("../fonts/modulusPro/modulusProLight.ttf") format('.ttf')
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 400
	src: url("../fonts/modulusPro/modulusProRegular.ttf") format('.ttf')
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 500
	src: url("../fonts/modulusPro/modulusProMedium.ttf") format('.ttf')
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 700
	src: url("../fonts/modulusPro/modulusProBold.ttf") format('.ttf')
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 900
	src: url("../fonts/modulusPro/modulusProBlack.ttf") format('.ttf')
@font-face
	font-family: 'Youtube Sans'
	src: url("https://chuanghiten.github.io/hisProject/dateAndWeather/fonts/youtubeSans/youtubeSans.woff2")
*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box
	background: transparent
	position: relative
	font-size: 16px
	font-family: 'Modulus Pro'
html
	font-size: 62.5%
	body
		//background: #191a2e
		.background,.mainContents
			width: var(--innerWidth, 100%)
			height: var(--innerHeight, 216rem)
			background: url(../images/clearSkySpringMorning.jpg) no-repeat center bottom / cover
		.background
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
		.mainContents
			display: flex
			flex-flow: nowrap column
			justify-content: space-between
			.dateContents,.weatherContents
				width: 100%
				height: auto
			.dateContents
				background: #f008
				display: flex
				flex-flow: nowrap column
				justify-content: center
				text-align: center
				.day
					color: #fff
					font-size: 5rem
					font-weight: 500
			.weatherContents
				background: #0f08
