@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 100
	src: url("../fonts/modulusPro/modulusProThin.ttf")
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 300
	src: url("../fonts/modulusPro/modulusProLight.ttf")
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 400
	src: url("../fonts/modulusPro/modulusProRegular.ttf")
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 500
	src: url("../fonts/modulusPro/modulusProMedium.ttf")
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 700
	src: url("../fonts/modulusPro/modulusProBold.ttf")
@font-face
	font-family: 'Modulus Pro'
	font-style: normal
	font-weight: 900
	src: url("../fonts/modulusPro/modulusProBlack.ttf")
@font-face
	font-family: 'Number One Line'
	font-style: normal
	font-weight: 600
	src: url("../fonts/numberOneLine/numberOneLine.ttf")
*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box
	background: transparent
	position: relative
	font-size: 16px
	font-family: 'Modulus Pro'
	transition: all .75s ease
html
	font-size: 62.5%
	body
		background: #000
		.background,.mainContents,.screenOff
			width: var(--innerWidth, 100%)
			height: var(--innerHeight, 216rem)
			//background: url(../images/clearSkySpringMorning.jpg) no-repeat center bottom / cover
		.background
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			display: flex
			justify-content: flex-end
			align-items: center
			background: linear-gradient(to bottom, #dd1c5d, #e63f3c)
			flex-flow: nowrap column
			z-index: -1
			svg
				width: 100%
				height: auto
				display: block
				*
					transform: translate(0, 1.5rem)
				//*
				//	width: 100%
			.backgroundFooter
				width: 100%
				height: var(--height)
				background: #5e284f
		.mainContents
			display: flex
			flex-flow: nowrap column
			justify-content: space-between
			margin: auto
			.dateContents,.weatherContents
				width: 100%
				height: auto
			.dateContents
				background: #f000
				display: flex
				flex-flow: nowrap column
				justify-content: center
				text-align: center
				margin: 10rem 0 0 0
				color: #fff
				text-shadow: .1rem .1rem .1rem #000
				//letter-spacing: .5rem
				.day
					font-size: 7rem
					font-weight: 600
				.calendar
					margin: 1.5rem 0 0 0
					div
						font-weight: 500
						font-size: 3.5rem
						&.lunar
							margin: .4rem 0 0 0
			.weatherContents
				width: 100%
				height: auto
				.weatherMainContents
					display: flex
					justify-content: space-between
					align-items: center
					padding:0 2rem 0 2rem
					width: auto
					height: auto
					.text
						color: #fff
						//background: #f00
						.temperature
							font-size: 3.5rem
							span
								font-size: 10rem
								font-weight: 900
								font-family: 'Number One Line'
						.description
							font-size: 3.5rem
					.icon
						height: calc(100% - 1rem)
						width: auto
						img
							width: 100%
							height: 100%
				.weatherForecastContents
					width: 90%
					height: auto
					padding: 3rem 1.5rem 2rem
					//background: #fff1
					//backdrop-filter: blur(2px)
					border: .15rem solid #fff
					border-radius: 1.5rem
					margin: 3.5rem auto 1.75rem
					display: flex
					justify-content: space-around
					align-items: center
					.forecastDate
						position: absolute
						color: #fff
						font-size: 1.75rem
						background: #5e284f
						top: -1.3rem
						left: 1.5rem
						padding: 0 1rem
						letter-spacing: .1rem
					.card
						color: #fff
						display: flex
						flex-direction: column
						justify-content: center
						align-items: center
						div
							text-align: center
							font-size: 1.5rem
							letter-spacing: .1rem
						.icon
							width: 4rem
							height: auto
							margin: 1rem 0
							img
								width: 100%
								height: 100%
				.weatherUpdateTime
					width: 100%
					height: auto
					text-align: right
					padding: 0 1rem 0 0
					color: #fff
					letter-spacing: .1rem
					font-size: 1rem
		.screenOff
			display: none
			background: #000
			position: absolute
			z-index: 1
			
