body {
  --leaf3Color: brightness(0) saturate(100%) invert(65%) sepia(82%) saturate(436%) hue-rotate(15deg) brightness(97%) contrast(104%)
    /* #cfc70d */
  ;
  --leaf2Color: brightness(0) saturate(100%) invert(77%) sepia(65%) saturate(1111%) hue-rotate(9deg) brightness(86%) contrast(91%)
    /* #bab30c */
  ;
  --leafColor: brightness(0) saturate(100%) invert(68%) sepia(39%) saturate(4118%) hue-rotate(23deg) brightness(93%) contrast(91%)
    /* #a7a10b */
  ;
}