:root{
  --blueMana:#61bfff;
  --yellowBuzzing:#F1E110;
  --delayedYellow:#fafa00;
      --delayedYellowFilter:invert(.96) sepia(.67) saturate(52.16) hue-rotate(359deg) brightness(.98) contrast(1.01);
      --peridot:#e3e902;
      --peridotFilter:invert(71%) sepia(94%) saturate(517%) hue-rotate(11deg) brightness(107%) contrast(99%);
      --octarine:#ccd904;
      --octarineFilter:invert(93%) sepia(36%) saturate(3070%) hue-rotate(4deg) brightness(86%) contrast(97%);
      --limeRasp:#b5cb06;
      --limeRaspFilter:invert(59%) sepia(92%) saturate(445%) hue-rotate(25deg) brightness(104%) contrast(95%);
      --citrus:#9eb708;
      --citrusFilter:invert(64%) sepia(83%) saturate(480%) hue-rotate(23deg) brightness(89%) contrast(94%);
      --ufoDefenseGreen:#87a70a;
      --ufoDefenseGreenFilter:invert(58%) sepia(96%) saturate(1633%) hue-rotate(35deg) brightness(92%) contrast(92%);
      --canopy:#70960c;
      --canopyFilter:invert(61%) sepia(79%) saturate(4497%) hue-rotate(48deg) brightness(95%) contrast(91%);
  --princessPerfume:#fc89d1;
  --princessPerfumeFilter:brightness(0) saturate(100%) invert(91%) sepia(19%) saturate(7094%) hue-rotate(283deg) brightness(101%) contrast(98%);
  --pinkCondition:#fc96d6;
  --pinkConditionFilter:brightness(0) saturate(100%) invert(86%) sepia(22%) saturate(1502%) hue-rotate(281deg) brightness(94%) contrast(110%);--roseDaphne:#fca1da;
      --roseDaphneFilter:brightness(0) saturate(100%) invert(77%) sepia(43%) saturate(699%) hue-rotate(285deg) brightness(104%) contrast(98%);
}
body{
  --bodyBackgroundGradient:var(--blueMana);
  --bodyBackgroundGradient2:var(--white);
  --sunColor:var(--yellowBuzzing);
  --dateTextColor:var(--white);
  --secondAndHourBackgroundColor:var(--blueMana);
  --mountain7Color:var(--delayedYellowFilter);
  --mountain6Color:var(--peridotFilter);
  --mountain5Color:var(--octarineFilter);
  --mountain4Color:var(--limeRaspFilter);
  --mountain3Color:var(--citrusFilter);
  --mountain2Color:var(--ufoDefenseGreenFilter);
  --mountainColor:var(--canopyFilter);
  --treeShadowColor:var(--whiteFilter);
  --trunkColor:var(--arganOilFilter);
  --leaf3Color:var(--princessPerfumeFilter);
  --leaf2Color:var(--pinkConditionFilter);
  --leafColor:var(--roseDaphneFilter)
}
div.scenery{
  display:block
}
