html {
  background: 0 0/cover no-repeat fixed linear-gradient(to bottom, var(--bodyBackgroundGradient), var(--bodyBackgroundGradient2));
}
html body {
  background: 0 0/cover no-repeat fixed linear-gradient(to bottom, var(--bodyBackgroundGradient), var(--bodyBackgroundGradient2));
}
html body .sun {
  position: relative;
  width: 630px;
  height: 630px;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 50%;
  padding: 15px;
}
html body .sun .second {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid var(--sunColor);
  box-shadow: 0 0 10px 0 var(--sunColorShadow), 0 0 20px 0 var(--sunColorShadow), 0 0 10px 0 var(--sunColorShadow) inset, 0 0 20px 0 var(--sunColorShadow) inset;
  position: relative;
  background: var(--secondAndHourBackgroundColor);
}
html body .sun .secondTitle,
html body .sun .minuteTitle,
html body .sun .hourTitle {
  width: 100%;
  height: auto;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(calc(180deg + (var(--secondTitleRotate) + 1) * 6deg));
}
html body .sun .secondTitle span,
html body .sun .minuteTitle span,
html body .sun .hourTitle span {
  color: var(--secondAndHourTextColor);
  display: inline-block;
  font: 21px "Seven Segment";
  transform: rotate(180deg);
  font-weight: 600;
}
html body .sun .minute {
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background: var(--minuteBackgroundColor);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg);
  box-shadow: 0 0 10px 0 var(--minuteBackgroundColor), 0 0 20px 0 var(--minuteBackgroundColor);
}
html body .sun .minute .minuteTitle {
  transform: translate(-50%, -50%) rotate(calc(var(--minuteTitleRotate) * 6deg + 96deg));
}
html body .sun .minute .minuteTitle span {
  color: var(--minuteTextColor);
  text-shadow: unset;
  font-weight: 600;
}
html body .sun .hour {
  width: 340px;
  height: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: var(--secondAndHourBackgroundColor);
  border-radius: 50%;
  box-shadow: 0 0 15px 0 var(--minuteBackgroundColor) inset, 0 0 25px 0 var(--minuteBackgroundColor) inset;
}
html body .sun .hour .hourTitle {
  transform: translate(-50%, -50%) rotate(calc(var(--hourTitleRotate) * 15deg + 105deg));
}
html body .sun .hour .hourTitle span {
  color: var(--secondAndHourTextColor);
}
html body .sun .halfCircle {
  width: 290px;
  height: 590px;
  position: absolute;
  top: 20px;
  left: 20px;
}
html body .sun .halfCircle .halfCircleCenter,
html body .sun .halfCircle .temperatureProgressbar {
  position: absolute;
  background: var(--sunColor);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--sunColor);
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .sun .halfCircle .temperatureProgressbar {
  background: transparent;
  box-shadow: unset;
}
html body .sun .halfCircle .temperatureProgressbar .dot {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(144deg);
}
html body .sun .halfCircle .temperatureProgressbar .dot:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -2.5px);
  background: #f00;
}
html body .sun .halfCircle .temperatureProgressbar .dot + .dot {
  transform: rotate(36deg);
}
html body .sun .halfCircle .temperatureProgressbar .dot + .dot:before {
  width: 5px;
  height: 5px;
  transform: translate(-50%, 0);
  background: var(--dateTextColor);
}
html body .sun .halfCircle .temperatureProgressbar .dot.progressbar {
  transform: rotate(calc(36deg - var(--temperatureProgressbarDeg, 100deg)));
}
html body .sun .halfCircle .temperatureProgressbar .dot.progressbar:before {
  background: #f00;
}
html body .sun .halfCircle .halfCircleCenter .startLine {
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: var(--sunColor);
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translate(100%, -50%);
}
html body .sun .halfCircle .halfCircleCenter .startLine .line {
  width: 160px;
  height: 40px;
  border: 3px solid var(--red);
  transform: translate(0, -50%);
}
html body .sun .halfCircle .halfCircleCenter .startLine .line .endLine {
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: var(--sunColor);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(50% + 5px), -50%);
}
html body .sun .halfCircle .halfCircleCenter .circle,
html body .sun .halfCircle .halfCircleCenter .progressbar {
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent 0 108deg, var(--dateTextColor) 108deg 360deg);
  border-radius: 50%;
  transform: rotate(36deg);
  position: absolute;
}
html body .sun .halfCircle .halfCircleCenter .hideCircle {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  background: var(--sunColor);
  border-radius: 50%;
}
html body .sun .halfCircle .halfCircleCenter .progressbar {
  background: conic-gradient(#f00 0 calc(360deg - (108deg + var(--temperatureProgressbarDeg, 100deg))), transparent calc(360deg - (108deg + var(--temperatureProgressbarDeg, 100deg))) 360deg);
  transform: rotate(144deg);
}
html body .sun .halfCircle .halfCircleCenter .dates {
  background: transparent;
  position: relative;
  color: var(--dateTextColor);
  font-family: Pacifico;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}
html body .sun .halfCircle .halfCircleCenter .dates .city {
  font-size: 25px;
  background: transparent;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
html body .sun .halfCircle .halfCircleCenter .dates .city span {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}
html body .sun .halfCircle .halfCircleCenter .dates .city span svg path {
  fill: var(--dateTextColor);
}
html body .sun .halfCircle .halfCircleCenter .dates .day {
  font-size: 40px;
}
html body .sun .halfCircle .halfCircleCenter .dates .date {
  font-size: 30px;
  margin: -10px 0 0 0;
}
html body .sun .halfCircle .halfCircle45Deg,
html body .sun .halfCircle .halfCircleNot45Deg {
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  border-radius: 400px 0 0 400px;
  background: var(--sunColor);
  box-shadow: 0 0 20px 0 var(--sunColor);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 100% 50%;
}
html body .sun .halfCircle .halfCircleNot45Deg {
  transform: rotate(-45deg);
}
html body .sun .second,
html body .sun .minute,
html body .sun .hour {
  transition: all 0.35s cubic-bezier(0.39, 1.62, 0.49, 1.87);
}
html body .sun .weatherInfo .temperatureNow, html body .sun .weatherInfo .temperatureMin, html body .sun .weatherInfo .temperatureMax {
  position: absolute;
  width: calc(50% - 30px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
  border-radius: 999px 0 0 999px;
  font-family: Pacifico;
  display: flex;
  align-items: center;
  align-content: center;
  color: var(--dateTextColor);
}
html body .sun .weatherInfo .temperatureNow {
  flex-flow: nowrap column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
html body .sun .weatherInfo .temperatureNow .info {
  margin: 30px 0 -20px 0;
}
html body .sun .weatherInfo .temperatureNow .sunInfo {
  width: 165px;
  margin: -36px 0 -30px 10px;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoTitle {
  width: 100%;
  color: var(--dateTextColor);
  font-family: Pacifico;
  display: flex;
  justify-content: space-between;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoTitle span {
  font-size: 22px;
  margin: -5px 0 -5px 0;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent {
  border-bottom: 3px solid var(--dateTextColor);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .house {
  width: 40px;
  height: 40px;
  margin: 0 0 -6px 0;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .house path {
  fill: var(--dateTextColor);
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .sunIcon {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .icon {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .icon path {
  fill: var(--dateTextColor);
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .circle,
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .iconBox {
  width: 145.5px;
  height: 70px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  border-radius: 0;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .iconBox {
  height: 80px;
  width: 165px;
}
html body .sun .weatherInfo .temperatureNow .sunInfo .sunInfoContent .circle:before {
  content: "";
  display: block;
  top: 0;
  width: 100%;
  height: 145.5px;
  border: 2px dashed var(--dateTextColor99);
  border-radius: 50%;
}
html body .sun .weatherInfo .temperatureNow .weatherDescription {
  height: 200px;
  width: 200px;
  margin: 0 0 -200px 10px;
  position: relative;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  font-size: 27px;
}
html body .sun .weatherInfo .temperatureNow .weatherDescription:before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  shape-outside: polygon(0 30%, 80% 100%, 0 100%, 0 30%);
  clip-path: polygon(0 30%, 80% 100%, 0 100%, 0 30%);
}
html body .sun .weatherInfo .temperatureMin, html body .sun .weatherInfo .temperatureMax {
  width: calc(100% - 60px);
  height: calc(50% - 30px);
  align-items: unset;
  align-content: unset;
  justify-content: center;
}
html body .sun .weatherInfo .temperatureMin {
  border-radius: 0 0 999px 999px;
  top: unset;
  bottom: 30px;
}
html body .sun .weatherInfo .temperatureMin .info {
  margin: 130px 0 0 0;
}
html body .sun .weatherInfo .temperatureMax {
  border-radius: 999px 999px 0 0;
}
html body .sun .weatherInfo .temperatureMax .info {
  margin: -80px 0 0 0;
}
html body .sun .weatherInfo .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}
html body .sun .weatherInfo .content {
  font-size: 90px;
  margin: -60px 0 0 0;
}
html body .sun .weatherInfo .content .decimal {
  font-size: 40px;
}
html body .sun .weatherInfo .content span,
html body .sun .weatherInfo .title {
  font-size: 30px;
}
html body .scenery {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
html body .scenery svg {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}
html body .scenery .mountain7 path {
  fill: var(--mountain7Color);
}
html body .scenery .mountain6 path {
  fill: var(--mountain6Color);
}
html body .scenery .mountain5 path {
  fill: var(--mountain5Color);
}
html body .scenery .mountain4 path {
  fill: var(--mountain4Color);
}
html body .scenery .mountain3 path {
  fill: var(--mountain3Color);
}
html body .scenery .mountain2 path {
  fill: var(--mountain2Color);
}
html body .scenery .mountain1 path {
  fill: var(--mountain1Color);
}
html body .scenery .mountain0 path {
  fill: var(--mountain0Color);
}
html body .scenery .tree .shadow, html body .scenery .minTree .shadow {
  fill: var(--treeShadowColor);
}
html body .scenery .tree .trunk, html body .scenery .minTree .trunk {
  fill: var(--trunkColor);
}
html body .scenery .tree .leaf3, html body .scenery .minTree .leaf3 {
  fill: var(--leaf1Color);
}
html body .scenery .tree .leaf2, html body .scenery .minTree .leaf2 {
  fill: var(--leaf2Color);
}
html body .scenery .tree .leaf1, html body .scenery .minTree .leaf1 {
  fill: var(--leaf3Color);
}
html body .clouds,
html body .stars {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: transparent;
}
html body .clouds .clouds1 {
  position: absolute;
  width: 350px;
  height: 200px;
  background: transparent;
  top: 550px;
  right: 70px;
}
html body .clouds .clouds1 .circle1 {
  width: 150px;
  height: 150px;
  bottom: 0;
  left: 0;
}
html body .clouds .clouds1 .circle2 {
  width: 70px;
  height: 70px;
  bottom: 0;
  right: 0;
}
html body .clouds .clouds1 .circle3 {
  width: 130px;
  height: 130px;
  top: 0;
  left: 70px;
}
html body .clouds .clouds1 .circle4 {
  width: 100px;
  height: 100px;
  top: 50px;
  right: 100px;
}
html body .clouds .clouds1 .circle5 {
  width: 100px;
  height: 100px;
  top: 60px;
  right: 30px;
}
html body .clouds .clouds1 .rectangle {
  position: absolute;
  left: 75px;
  bottom: 0;
  width: 240px;
  height: 70px;
  background: var(--cloudColor);
}
html body .clouds .clouds1 .rectangle:before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--cloudColor);
  transform: translate(0, -50%);
  left: 50px;
}
html body .clouds .circle {
  border-radius: 50%;
  background: var(--cloudColor);
  position: absolute;
}
html body .clouds .cloud1 *,
html body .clouds .cloud2 *,
html body .clouds .cloud3 *,
html body .clouds .cloud4 *,
html body .clouds .cloud5 *,
html body .clouds .cloud6 *,
html body .clouds .cloud7 * {
  box-shadow: 0 0 10px 0 var(--cloudColor), 0 0 20px 0 var(--cloudColor), 0 0 40px 0 var(--cloudColor);
}
html body .clouds .cloud2 {
  position: absolute;
  width: 350px;
  height: 200px;
  background: transparent;
  top: 50px;
  left: 70px;
}
html body .clouds .cloud2 .circle6 {
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translate(0, -50%);
}
html body .clouds .cloud2 .circle7 {
  width: 70px;
  height: 70px;
  top: 50%;
  right: 0;
  transform: translate(0, -30%);
}
html body .clouds .cloud2 .circle8 {
  width: 150px;
  height: 150px;
  left: 50px;
}
html body .clouds .cloud2 .circle9 {
  width: 120px;
  height: 120px;
  right: 70px;
  top: 30px;
}
html body .clouds .cloud2 .circle10 {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translate(0, -50%);
  right: 50px;
}
html body .clouds .cloud2 .circle11 {
  width: 70px;
  height: 70px;
  bottom: 30px;
  left: 50px;
}
html body .clouds .cloud2 .circle12 {
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
}
html body .clouds .cloud2 .circle13 {
  width: 150px;
  height: 150px;
  bottom: 0;
  left: 110px;
}
html body .clouds .cloud3 {
  width: 200px;
  height: 170px;
  position: absolute;
  background: transparent;
  top: 120px;
  right: 70px;
}
html body .clouds .cloud3 .circle14 {
  width: 50px;
  height: 50px;
  top: 80px;
}
html body .clouds .cloud3 .circle15 {
  width: 60px;
  height: 60px;
  top: 50px;
  left: 25px;
}
html body .clouds .cloud3 .circle16 {
  width: 80px;
  height: 80px;
  left: 60px;
  top: 20px;
}
html body .clouds .cloud3 .circle17 {
  width: 70px;
  height: 70px;
  top: 60px;
  right: 20px;
}
html body .clouds .cloud3 .circle18 {
  width: 50px;
  height: 50px;
  left: 30px;
  bottom: 20px;
}
html body .clouds .cloud3 .circle19 {
  width: 80px;
  height: 80px;
  left: 60px;
  bottom: 10px;
}
html body .clouds .cloud4 {
  position: absolute;
  width: 600px;
  height: 300px;
  top: 550px;
}
html body .clouds .cloud4 .circle20 {
  width: 150px;
  height: 150px;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
html body .clouds .cloud4 .circle21 {
  width: 250px;
  height: 250px;
  right: 70px;
}
html body .clouds .cloud4 .circle22 {
  width: 100px;
  height: 100px;
  top: 40px;
  right: 290px;
}
html body .clouds .cloud4 .circle23 {
  width: 120px;
  height: 120px;
  top: 30px;
  left: 120px;
}
html body .clouds .cloud4 .circle24 {
  width: 100px;
  height: 100px;
  top: 60px;
  left: 50px;
}
html body .clouds .cloud4 .circle25 {
  width: 90px;
  height: 90px;
  top: 80px;
}
html body .clouds .cloud4 .circle26 {
  width: 110px;
  height: 110px;
  bottom: 80px;
  left: 60px;
}
html body .clouds .cloud4 .circle27 {
  width: 200px;
  height: 200px;
  bottom: 65px;
  left: 135px;
}
html body .clouds .cloud4 .circle28 {
  width: 100px;
  height: 100px;
  bottom: 85px;
  left: 110px;
}
html body .clouds .cloud4 .circle29 {
  width: 200px;
  height: 200px;
  bottom: 30px;
  right: 170px;
}
html body .clouds .cloud5 {
  right: 0;
  width: 700px;
  height: 200px;
  position: absolute;
}
html body .clouds .cloud5 .circle30 {
  width: 70px;
  height: 70px;
  top: 50px;
}
html body .clouds .cloud5 .circle31 {
  width: 60px;
  height: 60px;
  top: 40px;
  left: 35px;
}
html body .clouds .cloud5 .circle32 {
  width: 130px;
  height: 130px;
  left: 70px;
}
html body .clouds .cloud5 .circle33 {
  width: 70px;
  height: 70px;
  top: 70px;
  left: 165px;
}
html body .clouds .cloud5 .circle34 {
  width: 80px;
  height: 80px;
  top: 65px;
  left: 200px;
}
html body .clouds .cloud5 .circle35 {
  width: 100px;
  height: 100px;
  top: 40px;
  left: 250px;
}
html body .clouds .cloud5 .circle36 {
  width: 170px;
  height: 170px;
  bottom: 0;
  left: 300px;
}
html body .clouds .cloud5 .circle37 {
  width: 70px;
  height: 70px;
  top: 20px;
  left: 400px;
}
html body .clouds .cloud5 .circle38 {
  width: 130px;
  height: 130px;
  top: 50px;
  right: 150px;
}
html body .clouds .cloud5 .circle39 {
  width: 100px;
  height: 100px;
  top: 40px;
  right: 100px;
}
html body .clouds .cloud5 .circle40 {
  width: 90px;
  height: 90px;
  right: 0;
  top: 70px;
}
html body .clouds .cloud5 .circle41 {
  width: 70px;
  height: 70px;
  top: 70px;
  right: 70px;
}
html body .clouds .cloud5 .circle42 {
  width: 100px;
  height: 100px;
  bottom: 30px;
  right: 60px;
}
html body .clouds .cloud5 .circle43 {
  width: 100px;
  height: 100px;
  bottom: 40px;
  left: 60px;
}
html body .clouds .cloud5 .circle44 {
  width: 100px;
  height: 100px;
  bottom: 30px;
  left: 100px;
}
html body .clouds .cloud6 {
  position: absolute;
  width: 300px;
  height: 250px;
  right: 0;
  top: 400px;
}
html body .clouds .cloud6 .circle45 {
  width: 100px;
  height: 100px;
  right: 0;
  top: 70px;
}
html body .clouds .cloud6 .circle46 {
  width: 200px;
  height: 200px;
  right: 60px;
}
html body .clouds .cloud6 .circle47 {
  width: 70px;
  height: 70px;
  bottom: 60px;
}
html body .clouds .cloud6 .circle48 {
  width: 100px;
  height: 100px;
  left: 40px;
  bottom: 30px;
}
html body .clouds .cloud6 .circle49 {
  width: 150px;
  height: 150px;
  bottom: 15px;
  right: 30px;
}
html body .clouds .cloud7 {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 150px;
}
html body .clouds .cloud7 .circle50 {
  width: 100px;
  height: 100px;
  right: 0;
  top: 40px;
}
html body .clouds .cloud7 .circle51 {
  width: 70px;
  height: 70px;
  top: 0;
  right: 50px;
}
html body .clouds .cloud7 .circle52 {
  width: 90px;
  height: 90px;
  top: 30px;
  right: 70px;
}
html body .clouds .cloud7 .circle53 {
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 125px;
}
html body .clouds .cloud7 .circle54 {
  width: 70px;
  height: 70px;
  top: 40px;
  left: 90px;
}
html body .clouds .cloud7 .circle55 {
  width: 100px;
  height: 100px;
  top: 30px;
}
html body .clouds .cloud7 .circle56,
html body .clouds .cloud7 .circle57,
html body .clouds .cloud7 .circle58 {
  width: 50px;
  height: 50px;
  top: 30px;
  left: 70px;
}
html body .clouds .cloud7 .circle57,
html body .clouds .cloud7 .circle58 {
  top: unset;
  bottom: 20px;
}
html body .clouds .cloud7 .circle58 {
  bottom: 0;
  left: 20px;
}
html body .stars {
  bottom: unset;
  top: 0;
}
html body .stars .star {
  position: absolute;
  width: 25px;
  height: 35px;
}
html body .stars .star path {
  fill: var(--white);
}
html body .stars .star.big {
  transform: scale(1.5);
}
html body .stars .star.small {
  transform: scale(0.5);
}
html body .stars .star svg {
  filter: drop-shadow(0 0 5px var(--white)) drop-shadow(0 0 10px var(--white)) drop-shadow(0 0 20px var(--white));
}
html body .stars .star.starDot {
  width: 10px;
  height: 10px;
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 5px 0 var(--white), 0 0 10px 0 var(--white), 0 0 20px 0 var(--white);
}
html body .stars .star.starDot.big {
  width: 15px;
  height: 15px;
}
html body .stars .star.starDot.small {
  width: 5px;
  height: 5px;
  box-shadow: 0 0 5px 0 var(--white), 0 0 10px 0 var(--white), 0 0 15px 0 var(--white), 0 0 20px 0 var(--white);
}
html body .stars .star1 {
  top: 50px;
  left: 100px;
}
html body .stars .star2 {
  top: 400px;
  left: 70px;
}
html body .stars .star3 {
  top: 500px;
  left: 800px;
}
html body .stars .star4 {
  top: 700px;
  left: 300px;
}
html body .stars .star5 {
  top: 75px;
  right: 150px;
}
html body .stars .star6 {
  top: 843px;
  right: 128px;
}
html body .stars .star7 {
  top: 1000px;
  left: 500px;
}
html body .stars .star8 {
  top: 1240px;
  left: 90px;
}
html body .stars .star9 {
  top: 1500px;
  left: 500px;
}
html body .stars .star10 {
  top: 1270px;
  right: 60px;
}
html body .stars .dot1 {
  top: 30px;
  left: 70px;
}
html body .stars .dot2 {
  top: 240px;
  left: 100px;
}
html body .stars .dot3 {
  top: 147px;
  left: 265px;
}
html body .stars .dot4 {
  top: 60px;
  left: 300px;
}
html body .stars .dot5 {
  top: 40px;
  left: 500px;
}
html body .stars .dot6 {
  top: 170px;
  right: 85px;
}
html body .stars .dot7 {
  top: 340px;
  right: 100px;
}
html body .stars .dot8 {
  top: 700px;
  left: 144px;
}
html body .stars .dot9 {
  top: 720px;
  right: 98px;
}
html body .stars .dot10 {
  top: 780px;
  left: 500px;
}
html body .stars .dot11 {
  top: 980px;
  left: 250px;
}
html body .stars .dot12 {
  top: 1000px;
  right: 300px;
}
html body .stars .dot13 {
  top: 1309px;
  left: 430px;
}
html body .stars .dot14 {
  top: 1200px;
  left: 160px;
}
html body .stars .dot15 {
  top: 1305px;
  right: 140px;
}
html body .stars .dot16 {
  top: 950px;
  left: 50px;
}
html body .stars .dot17 {
  top: 800px;
  right: 300px;
}
html body .stars .dot18 {
  top: 1100px;
  right: 100px;
}
html body .stars .dot19 {
  top: 1200px;
  right: 200px;
}
html body .stars .dot20 {
  top: 30px;
  right: 300px;
}
html body .stars .dot21 {
  top: 600px;
  left: 100px;
}
html body .stars .dot22 {
  top: 809px;
  right: 200px;
}
html body .stars .dot23 {
  top: 950px;
  left: 500px;
}
html body .stars .dot24 {
  top: 900px;
  left: 300px;
}
html body .stars .dot25 {
  top: 910px;
  right: 300px;
}

/*# sourceMappingURL=styleModule2.css.map */
