*, :before, :after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  transition: all 0.15s linear;
  position: relative;
}

[hide] {
  display: none !important;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
body {
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body::-webkit-scrollbar {
  display: none;
}
body .responsiveShow {
  display: none;
}
body .topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 280px);
  height: 100px;
  position: fixed;
  z-index: 1;
}
body .topBar .logo {
  display: block;
  width: 147px;
  height: 38px;
}
body .topBar .logo svg {
  width: 100%;
  height: 100%;
}
body .topBar .navBar {
  width: auto;
  height: auto;
  display: flex;
}
body .topBar .navBar a {
  color: #030303;
  text-decoration: none;
  margin: 0 45px 0 0;
  font: 400 15px Inter;
}
body .topBar .navBar a:last-child {
  margin: 0;
}
body .topBar .navBar a:hover {
  font-weight: 600;
}
body .topBar .signIn {
  color: #2378ff;
  text-decoration: none;
  font: 600 16px Inter;
  padding: 16px 37px;
  border-radius: 12px;
  background: #E8F1FF;
}
body .topBar[scroll] {
  height: 55px;
  width: calc(100% - 900px);
  border-radius: 0 0 20px 20px;
  border: 2px solid #F77E53;
  border-top: 0;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body .topBar[scroll] .signIn {
  padding: 6px 17px;
  border-radius: 50px;
}
body .footer {
  width: calc(100% - 280px);
  height: 402px;
  margin: 130px 0 38px 0;
}
body .footer .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 100px 0;
  border-bottom: 1px solid rgba(96, 97, 118, 0.5019607843);
}
body .footer .row .column {
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body .footer .row .column:nth-child(1) {
  width: 290px;
  display: block;
}
body .footer .row .column:nth-child(1) .title {
  width: 147px;
  height: 38px;
}
body .footer .row .column:nth-child(1) .title .logo {
  display: block;
  width: 100%;
  height: 100%;
}
body .footer .row .column:nth-child(1) .title .logo svg {
  width: 100%;
  height: 100%;
}
body .footer .row .column:nth-child(1) .contents {
  color: #606176;
  font: 400 18px Inter;
  line-height: 26px;
  display: block;
}
body .footer .row .column .title {
  color: #101130;
  font: 600 24px Inter;
  line-height: 29.05px;
}
body .footer .row .column > .contents {
  display: flex;
  align-items: flex-start;
  flex-flow: nowrap column;
  margin: 36px 0 0 0;
}
body .footer .row .column > .contents a {
  text-decoration: none;
  color: #606176;
  font: 400 16px Inter;
  line-height: 19.36px;
  margin: 0 0 21px 0;
}
body .footer .row .column > .contents a:last-child {
  margin: 0;
}
body .footer .row .column > .contents a:hover {
  font-weight: 600;
}
body .footer .row .column:last-child .contents a {
  width: 135px;
  height: 40px;
}
body .footer .row .column:last-child .contents a svg {
  width: 100%;
  height: 100%;
}
body .footer .row .column:last-child .contents .googlePlay {
  margin: 0 0 18px 0;
}
body .footer .copyright {
  margin: 40px 0 0 0;
  font: 400 15px Inter;
  line-height: 18.15px;
  color: #606176;
}
body .mainContents {
  margin: 170px 0 0 0;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
  width: calc(100% - 280px);
}
body .mainContents .discover {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
body .mainContents .discover > .contents {
  width: 521px;
  margin: 40px 0 0 0;
}
body .mainContents .discover > .contents .title {
  font: 700 60px Inter;
  line-height: 72px;
  color: #101130;
}
body .mainContents .discover > .contents .content {
  margin: 28px 0 0 0;
  font: 400 20px/32px Roboto;
  color: #606176;
}
body .mainContents .discover > .contents .getStarted {
  text-decoration: none;
  font: 600 18px/21.78px Inter;
  color: #FEF4F1;
  padding: 20px 50px;
  background-color: #F77E53;
  border-radius: 16px;
  margin: 28px 0 0 0;
  display: inline-block;
}
body .mainContents .discover > .contents .learnMore {
  margin: 35px 0 0 0;
  font: 400 18px/21.09px Roboto;
  color: #606176;
}
body .mainContents .discover > .contents .learnMore a {
  color: #2076FF;
}
body .mainContents .discover .image {
  width: 594px;
  height: 560px;
  position: relative;
}
body .mainContents .discover .image .rectangle {
  width: 480px;
  height: 195px;
  background: #E3EFFF;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 82px;
}
body .mainContents .discover .image .man {
  width: 452px;
  height: 100%;
  position: absolute;
  left: 110px;
}
body .mainContents .discover .image .man img {
  width: 100%;
  height: 100%;
}
body .mainContents .discover .image .send {
  width: 63.31px;
  height: 62.92px;
  position: absolute;
  top: 111.33px;
  left: 39.33px;
}
body .mainContents .discover .image .send svg {
  width: 100%;
  height: 100%;
}
body .mainContents .discover .image .counting {
  width: 200.29px;
  height: 115px;
  position: absolute;
  bottom: 32px;
}
body .mainContents .discover .image .counting .circle {
  position: absolute;
  background: #B8DCFF;
  border-radius: 50%;
  bottom: 0;
  width: 47.35px;
  height: 47.35px;
}
body .mainContents .discover .image .counting .card {
  position: absolute;
  width: 180px;
  height: 90px;
  padding: 21px 14px 11px 24px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  background: #fff;
  border-radius: 11.27px;
  right: 0;
}
body .mainContents .discover .image .counting .card > .contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .mainContents .discover .image .counting .card > .contents .logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #F9AE34;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainContents .discover .image .counting .card > .contents .logo svg {
  width: 15.68px;
  height: 16.67px;
}
body .mainContents .discover .image .counting .card > .contents > .contents .title {
  color: #111231;
  font: 500 9px/10.89px Inter;
}
body .mainContents .discover .image .counting .card > .contents > .contents .content {
  color: #111231;
  font: 600 20px/24.2px Inter;
}
body .mainContents .discover .image .counting .card .description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #297CFD;
  font: 500 8px/9.68px Inter;
}
body .mainContents .discover .image .increaseAudience {
  width: 156px;
  height: 180px;
  position: absolute;
  right: 0;
  top: 78px;
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap column;
  padding: 15px;
}
body .mainContents .discover .image .increaseAudience .title {
  color: #111231;
  font: 500 12px/14.52px Inter;
}
body .mainContents .discover .image .increaseAudience .title .check {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #2076FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainContents .discover .image .increaseAudience > .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap column;
  width: 100%;
  height: 100%;
  margin: 20px 0 0 0;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#F77E53 0 45deg, #297CFD 45deg 100deg, transparent 100deg 260deg, #F77E53 260deg 360deg);
  position: relative;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-100deg);
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot:before, body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot:after {
  content: "";
  display: block;
  position: absolute;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot:before {
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #F77E53;
  border-radius: 50%;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot:not(.dot.progressbar):after {
  content: "0%";
  color: #606176;
  font: 400 8px/9.68px Inter;
  left: 30%;
  transform: rotate(100deg);
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot:nth-child(2) {
  transform: rotate(100deg);
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot:nth-child(2):before {
  background: #297CFD;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot:nth-child(2):after {
  content: "50%" !important;
  right: 30% !important;
  left: unset !important;
  transform: rotate(-100deg) !important;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar > .dot.progressbar {
  transform: rotate(45deg);
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar .mainCircle {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: conic-gradient(#fff 0 105deg, transparent 105deg 255deg, #fff 255deg 360deg);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar .mainCircle .dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #F77E53;
  margin: 15px 0 0 0;
}
body .mainContents .discover .image .increaseAudience > .contents > .progressbar .mainCircle .content {
  color: #111231;
  font: 600 28px/33.89px Inter;
  margin: 5px 0 0 0;
}
body .mainContents .discover .image .increaseAudience > .contents .follower {
  color: #111231;
  font: 500 12px/14.06px Roboto;
}
body .mainContents .discover .image .hat {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #F77E53;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 85px;
  left: 431px;
}
body .mainContents .discover .image .hat svg {
  width: 49.27px;
  height: 34.1px;
}
body .mainContents > .logos {
  width: calc(100% - 280px);
  display: flex;
  justify-content: space-around;
  margin: 125px 0 0 0;
  align-items: center;
}
body .mainContents > .logos .text {
  width: 251px;
  display: flex;
  flex-flow: nowrap column;
}
body .mainContents > .logos .text .title {
  color: #101131;
  font: 700 62px/75.03px Inter;
}
body .mainContents > .logos .text .content {
  color: #606176;
  font: 400 20px/28px Inter;
}
body .mainContents > .logos .logos {
  display: flex;
}
body .mainContents > .logos .logos .logo {
  height: 60px;
  margin: 0 45px 0 0;
}
body .mainContents > .logos .logos .logo:last-child {
  margin: 0;
}
body .mainContents > .logos .logos .logo img {
  height: 100%;
}
body .mainContents .howItWorks {
  width: calc(100% - 280px);
  display: flex;
  justify-content: space-around;
  margin: 137px 0 0 0;
}
body .mainContents .howItWorks .image {
  width: 429px;
  height: 703px;
  position: relative;
  display: flex;
  justify-content: center;
}
body .mainContents .howItWorks .image .rectangle {
  width: 371px;
  height: 495px;
  position: absolute;
  left: 27px;
  top: 103px;
  background: #FFD2B3;
}
body .mainContents .howItWorks .image > img {
  width: 100%;
  height: 598px;
  position: relative;
}
body .mainContents .howItWorks .image .peoplesLearning {
  width: 232px;
  height: 168px;
  position: absolute;
  bottom: 28px;
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.0509803922);
}
body .mainContents .howItWorks .image .peoplesLearning .text {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
body .mainContents .howItWorks .image .peoplesLearning .text .title {
  color: #010101;
  font: 700 16px/19.36px Inter;
}
body .mainContents .howItWorks .image .peoplesLearning .text .content {
  color: #424242;
  font: 400 13px/15.73px Inter;
  margin: 6px 0 0 0;
}
body .mainContents .howItWorks .image .peoplesLearning .users {
  display: flex;
  margin: 17px 0 0 0;
}
body .mainContents .howItWorks .image .peoplesLearning .users .user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 -14px 0 0;
}
body .mainContents .howItWorks .image .peoplesLearning .users .user img {
  width: 100%;
  height: 100%;
}
body .mainContents .howItWorks .image .peoplesLearning .users .user:last-child {
  margin: 0;
  font: 600 14px/16.94px Inter;
  color: #fff;
  background: #F77E53;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainContents .howItWorks .image .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FAE9D9;
  position: absolute;
  bottom: 0;
  right: 100px;
}
body .mainContents .howItWorks > .contents {
  width: 607px;
}
body .mainContents .howItWorks > .contents > .title {
  color: #101130;
  font: 700 44px/56px Inter;
  width: 435px;
}
body .mainContents .howItWorks > .contents > .contents {
  margin: 60px 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}
body .mainContents .howItWorks > .contents > .contents .contents {
  width: 222px;
  margin: 0 82px 0 0;
}
body .mainContents .howItWorks > .contents > .contents .contents:nth-child(2) {
  margin: 0;
}
body .mainContents .howItWorks > .contents > .contents .contents:nth-child(3) {
  margin: 45px 82px 0 0;
}
body .mainContents .howItWorks > .contents > .contents .contents:nth-child(4) {
  margin: 45px 0 0 0;
}
body .mainContents .howItWorks > .contents > .contents .contents .icon {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  background: #D2F1E1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainContents .howItWorks > .contents > .contents .contents .icon svg {
  width: 30px;
  height: 30px;
}
body .mainContents .howItWorks > .contents > .contents .contents .text {
  margin: 26px 0 0 0;
}
body .mainContents .howItWorks > .contents > .contents .contents .text .title {
  color: #101100;
  font: 600 20px/24.2px Inter;
}
body .mainContents .howItWorks > .contents > .contents .contents .text .content {
  color: #606176;
  font: 400 18px/30px Roboto;
  margin: 12px 0 0 0;
}
body .mainContents .howItWorks2 {
  margin: 130px 0 0 0;
  width: calc(100% - 280px);
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
  position: relative;
}
body .mainContents .howItWorks2 .titles {
  display: flex;
  align-items: flex-end;
}
body .mainContents .howItWorks2 .titles .title {
  width: 431px;
  color: #101130;
  font: 700 44px/56px Inter;
  margin: 0 409px 0 0;
}
body .mainContents .howItWorks2 .titles .view {
  text-decoration: none;
  border: 2px solid #2076FF;
  border-radius: 12px;
  color: #2076FF;
  padding: 19px 22px;
  display: block;
  height: 61px;
}
body .mainContents .howItWorks2 .titles .view:hover {
  color: #fff;
  background: #2076FF;
}
body .mainContents .howItWorks2 .cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0 0 0;
}
body .mainContents .howItWorks2 .cards .card {
  width: 270px;
  padding: 12px 15px 20px;
  position: relative;
}
body .mainContents .howItWorks2 .cards .card .image {
  width: 100%;
  height: 165px;
  border-radius: 12px;
  overflow: hidden;
}
body .mainContents .howItWorks2 .cards .card .image img {
  width: 100%;
  height: 100%;
}
body .mainContents .howItWorks2 .cards .card .title {
  margin: 16px 0 0 0;
  color: #101130;
  font: 600 20px/26px Inter;
}
body .mainContents .howItWorks2 .cards .card .contents {
  display: flex;
  margin: 40px 0 0 0;
}
body .mainContents .howItWorks2 .cards .card .contents .user, body .mainContents .howItWorks2 .cards .card .contents .monts {
  display: flex;
  align-items: center;
  color: #606176;
  font: 400 14px/22px Roboto;
}
body .mainContents .howItWorks2 .cards .card .contents .user svg, body .mainContents .howItWorks2 .cards .card .contents .monts svg {
  width: 18.33px;
  height: 13.33px;
  margin: 0 4px 0 0;
}
body .mainContents .howItWorks2 .cards .card .contents .monts {
  margin: 0 0 0 40px;
}
body .mainContents .howItWorks2 .cards .card .cart {
  cursor: pointer;
  width: 100%;
  padding: 9px;
  border: 2px solid #2076FF;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2076FF;
  font: 400 14px/22px Inter;
  background: #fff;
  margin: 25px 0 0 0;
}
body .mainContents .howItWorks2 .cards .card .cart svg {
  width: 16.67px;
  height: 16.67px;
  margin: 0 11.67px 0 0;
}
body .mainContents .howItWorks2 .cards .card .cart:hover {
  color: #fff;
  background: #2076FF;
}
body .mainContents .howItWorks2 .cards .card .cart:hover svg path {
  fill: #fff;
}
body .mainContents .features {
  display: flex;
  width: calc(100% - 280px);
  justify-content: space-around;
  margin: 130px 0 0 0;
}
body .mainContents .features .texts {
  display: flex;
  justify-content: center;
  flex-flow: nowrap column;
  width: 476px;
}
body .mainContents .features .texts .title {
  color: #101130;
  font: 700 44px/56px Inter;
}
body .mainContents .features .texts .content {
  color: #606176;
  font: 400 18px/30px Roboto;
  margin: 35px 0 0 0;
}
body .mainContents .features .texts .getStarted {
  margin: 25px 0 0 0;
  padding: 20px 50px;
  border-radius: 16px;
  background: #F77E53;
  color: #FEF4F1;
  text-decoration: none;
  font: 600 18px/21.78px Inter;
  width: 200px;
}
body .mainContents .features .videos {
  width: 589px;
  position: relative;
}
body .mainContents .features .videos .rectangle {
  width: 545px;
  height: 565px;
  position: absolute;
  right: 0;
  background: #F6F5FA;
  border-radius: 18px;
}
body .mainContents .features .videos .mainVideo {
  position: relative;
  margin: 83px 0 0 0;
  width: 530px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  overflow: hidden;
  background: #000;
}
body .mainContents .features .videos .mainVideo .videoPlayer {
  width: 100%;
  height: 100%;
}
body .mainContents .features .videos .mainVideo .control {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #2076FF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .mainContents .features .videos .mainVideo .control svg {
  width: 15px;
  height: 20px;
  margin: 0 0 0 5px;
}
body .mainContents .features .videos .moreVideos {
  margin: 82px 0 0 0;
  position: relative;
  width: 530px;
  display: flex;
  justify-content: space-around;
}
body .mainContents .features .videos .moreVideos .video {
  width: 80px;
  position: relative;
  cursor: pointer;
}
body .mainContents .features .videos .moreVideos .video .poster {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
body .mainContents .features .videos .moreVideos .video .poster img {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
body .mainContents .features .videos .moreVideos .video .title {
  margin: 12px 0 0 0;
  color: #101130;
  font: 500 14px/16.94px Inter;
}
body .mainContents .testimonial {
  margin: 130px 0 0 0;
  width: calc(100% - 280px);
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
}
body .mainContents .testimonial .title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .mainContents .testimonial .title .text {
  color: #101130;
  font: 700 44px/56px Inter;
  width: 480px;
}
body .mainContents .testimonial .title .button {
  display: flex;
}
body .mainContents .testimonial .title .button button {
  width: 28px;
  height: 23px;
}
body .mainContents .testimonial .title .button button svg {
  width: 100%;
  height: 100%;
}
body .mainContents .testimonial .title .button .left {
  margin: 0 34px 0 0;
}
body .mainContents .testimonial .contents {
  margin: 60px 0 0 0;
  width: 1105px;
  display: flex;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  pointer-events: none;
}
body .mainContents .testimonial .contents::-webkit-scrollbar {
  display: none;
}
body .mainContents .testimonial .contents .teacherCard {
  width: 452px;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 190px 0 0;
}
body .mainContents .testimonial .contents .teacherCard:last-child {
  margin: 0;
}
body .mainContents .testimonial .contents .teacherCard .maxim {
  color: #101130;
  font: 500 22px/28px Inter;
  width: 380px;
}
body .mainContents .testimonial .contents .teacherCard .maximDescription {
  margin: 35px 0 0 0;
  color: #606176;
  font: 400 18px/30px Roboto;
}
body .mainContents .testimonial .contents .teacherCard .teacherInfo {
  margin: 45px 0 0 0;
  display: flex;
}
body .mainContents .testimonial .contents .teacherCard .teacherInfo .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 30px 0 0;
}
body .mainContents .testimonial .contents .teacherCard .teacherInfo .avatar img {
  width: 100%;
  height: 100%;
}
body .mainContents .testimonial .contents .teacherCard .teacherInfo .texts .name {
  color: #101130;
  font: 600 20px/24.2px Inter;
}
body .mainContents .testimonial .contents .teacherCard .teacherInfo .texts .location {
  margin: 4px 0 0 0;
  font: 400 14px/16.41px Roboto;
}
body .mainContents .testimonial .contents .teacherCard .teacherInfo .texts .star {
  margin: 8px 0 0 0;
  width: 79px;
  height: 15px;
}
body .mainContents .pricing {
  margin: 130px 0 0 0;
  width: calc(100% - 280px);
}
body .mainContents .pricing .titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .mainContents .pricing .titles .text {
  color: #101130;
  font: 700 44px/56px Inter;
  width: 595px;
}
body .mainContents .pricing .titles .upgradeNow {
  color: #2076FF;
  font: 400 18px/21.78px Inter;
  text-decoration: none;
  padding: 19px 23px;
  border: 2px solid #2076FF;
  border-radius: 12px;
  height: 60px;
}
body .mainContents .pricing .titles .upgradeNow:hover {
  color: #fff;
  background: #2076FF;
}
body .mainContents .pricing .cards {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-around;
}
body .mainContents .pricing .cards .regular {
  --currentColor:#2076ff;
  --currentBackgroundColor:#EDF3FF4d;
}
body .mainContents .pricing .cards .medium {
  --currentColor:#F6C07A;
  --currentBackgroundColor:#FEF0C34d;
}
body .mainContents .pricing .cards .premium {
  --currentColor:#F77E53;
  --currentBackgroundColor:#FEE6DC4d;
}
body .mainContents .pricing .cards .card {
  width: 305px;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
  background: var(--currentBackgroundColor);
  border-radius: 18px;
}
body .mainContents .pricing .cards .card .title {
  width: 100%;
  background: var(--currentColor);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font: 600 26px/38px Inter;
  border-radius: 18px 18px 0 0;
}
body .mainContents .pricing .cards .card .price {
  margin: 40px 0 0 0;
  color: #101130;
  font: 700 44px/38px Inter;
  display: flex;
}
body .mainContents .pricing .cards .card .price span {
  font: 500 22px/26.63px Inter;
  margin: -8px 0 0 0;
}
body .mainContents .pricing .cards .card .description {
  margin: 40px 0 0 0;
}
body .mainContents .pricing .cards .card .description ul li {
  margin: 30px 0 0 0;
  font: 400 20px/24.2px Inter;
  color: #606176;
}
body .mainContents .pricing .cards .card .description ul li:first-child {
  margin: 0;
}
body .mainContents .pricing .cards .card .description ul li::marker {
  color: var(--currentColor);
}
body .mainContents .pricing .cards .card .buyPlan {
  margin: 83px 0 0 0;
  color: var(--currentColor);
  font: 600 20px/24.2px Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 14px;
  border: 2px solid var(--currentColor);
  text-decoration: none;
}
body .mainContents .pricing .cards .card .buyPlan:hover {
  color: #fff;
  background: var(--currentColor);
}

@media screen and (max-width: 1700px) {
  body .mainContents .howItWorks, body .mainContents .features {
    width: 100%;
  }
  body .mainContents .testimonial .title {
    justify-content: space-between;
  }
  body .mainContents .testimonial .contents {
    width: 994px;
  }
  body .mainContents .testimonial .contents .teacherCard {
    margin: 0 90px 0 0;
  }
  body .mainContents .testimonial .contents .teacherCard:last-child {
    margin: 0;
  }
  body .topBar[scroll] {
    width: calc(100% - 800px);
  }
}
@media screen and (max-width: 1571px) {
  body .mainContents .howItWorks2 .titles {
    justify-content: space-between;
    width: 100%;
  }
  body .mainContents .howItWorks2 .titles .title {
    margin: 0;
  }
  body .mainContents .howItWorks2 .cards {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1500px) {
  body .topBar[scroll] {
    width: calc(100% - 800px);
  }
  body .mainContents .testimonial .contents {
    width: 954px;
  }
  body .mainContents .testimonial .contents .teacherCard {
    margin: 0 50px 0 0;
  }
  body .mainContents .testimonial .contents .teacherCard:last-child {
    margin: 0;
  }
  body .mainContents .pricing .titles, body .mainContents .pricing .cards {
    justify-content: space-between;
  }
  body .mainContents .pricing .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  body .mainContents .pricing .cards .regular {
    margin: 0 10px 0 0;
  }
  body .mainContents .pricing .cards .medium {
    margin: 0 0 0 10px;
  }
  body .mainContents .pricing .cards .premium {
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width: 1450px) {
  body .topBar[scroll] {
    width: calc(100% - 600px);
  }
}
@media screen and (max-width: 1400px) {
  body .mainContents > .logos {
    justify-content: space-between;
  }
  body .mainContents > .logos .logos {
    width: 420px;
    flex-wrap: wrap;
  }
  body .mainContents > .logos .logos .logo {
    width: 205px;
    margin: 0 5px 0 0;
  }
  body .mainContents > .logos .logos .logo:nth-child(2) {
    margin: 0;
  }
  body .mainContents > .logos .logos .logo:nth-child(3) {
    margin: 5px 5px 0 0;
  }
  body .mainContents > .logos .logos .logo:nth-child(4) {
    margin: 5px 0 0 0;
  }
  body .mainContents .testimonial .contents {
    width: 924px;
  }
  body .mainContents .testimonial .contents .teacherCard {
    margin: 0 20px 0 0;
  }
  body .mainContents .testimonial .contents .teacherCard:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 1360px) {
  body .mainContents .howItWorks2 .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1323px) {
  body > * {
    display: none !important;
  }
  body .responsiveShow {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #333;
    font: 700 50px/80px Inter;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
}/*# sourceMappingURL=main.css.map */