body {
		--leaf3Color:brightness(0) saturate(100%) invert(51%) sepia(28%) saturate(651%) hue-rotate(254deg) brightness(96%) contrast(91%)/*b472b0*/;
		--leaf2Color:brightness(0) saturate(100%) invert(51%) sepia(15%) saturate(1358%) hue-rotate(254deg) brightness(87%) contrast(83%)/*a2669e*/;
		--leafColor:brightness(0) saturate(100%) invert(46%) sepia(11%) saturate(1782%) hue-rotate(254deg) brightness(87%) contrast(87%)/*925c8e*/
}