body {
  --leaf3Color: brightness(0) saturate(100%) invert(55%) sepia(36%) saturate(771%) hue-rotate(272deg) brightness(83%) contrast(87%)
    /* #ca63a3 */
  ;
  --leaf2Color: brightness(0) saturate(100%) invert(45%) sepia(12%) saturate(2184%) hue-rotate(270deg) brightness(95%) contrast(89%)
    /* #b65993 */
  ;
  --leafColor: brightness(0) saturate(100%) invert(42%) sepia(9%) saturate(3371%) hue-rotate(270deg) brightness(88%) contrast(82%)
    /* #a45084 */
  ;
}