body{
  --bodyBackgroundGradient:#61a9ff;
  --bodyBackgroundGradient2:#fff;
  --sunColor:#F1E110;
  --dateTextColor:#fff;
  --dateTextColor99:#fff9;
  --secondAndHourBackgroundColor:#61a9ff;
  --mountain7Color:#e1e100;
  --mountain6Color:#ccd202;
  --mountain5Color:#b8c304;
  --mountain4Color:#a3b705;
  --mountain3Color:#8ea507;
  --mountain2Color:#7a9609;
  --mountain1Color:#65870b;
  --mountain0Color:#5b7a0a;
  --treeShadowColor:#fff;
  --trunkColor:#7a5335;
  --leaf3Color:#7ca817 ;
  --leaf2Color:#96b945 ;
  --leaf1Color:#a1c058 ;
}
div.scenery{
  display:block
}