body {
  --leaf3Color: brightness(0) saturate(100%) invert(91%) sepia(19%) saturate(7094%) hue-rotate(283deg) brightness(101%) contrast(98%);
  /* #fc89d1; */
  --leaf2Color: brightness(0) saturate(100%) invert(86%) sepia(22%) saturate(1502%) hue-rotate(281deg) brightness(94%) contrast(110%);
  /* #fc96d6; */
  --leafColor: brightness(0) saturate(100%) invert(77%) sepia(43%) saturate(699%) hue-rotate(285deg) brightness(104%) contrast(98%);
  /* #fca1da; */
}