@mixin size($width: auto, $height: auto) {
	width: $width;
	height: $height;
}
@mixin text($color: #fff, $weight: 400, $size: 16px, $lineHeight: 1, $fontName: Graphik) {
	color: $color;
	font: $weight ($size + px) / ($lineHeight + px) $fontName;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
	position: relative;
	transition: all 0.15s linear;
}
@font-face {
	font-family: Graphik;
	src: url(../fonts/EM-Graphik/EM-Graphik/TTF/Graphik-Medium.ttf),
		url(../fonts/EM-Graphik/EM-Graphik/OTF/Graphik-Medium.otf);
	font-weight: 401 500;
	font-style: normal;
}
@font-face {
	font-family: Graphik;
	src: url(../fonts/EM-Graphik/EM-Graphik/TTF/Graphik-Regular.ttf),
		url(../fonts/EM-Graphik/EM-Graphik/OTF/Graphik-Regular.otf);
	font-weight: 301 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url(../../elearningLandingPage/fonts/Roboto/Roboto-Regular.ttf);
	font-weight: 301 400;
}
body {
	&::-webkit-scrollbar {
		display: none;
	}
	width:100%;
	font-family: Graphik;
	background: #181818;
	display: flex;
	align-items: center;
	flex-flow: nowrap column;
	.topBar {
		@include size(100%, 119px);
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
		top: 0;
		z-index: 1;
		.logo {
			@include size(186px, 58px);
			img {
				@include size(100%, 100%);
			}
		}
		.navBar {
			display: flex;
			a {
				text-decoration: none;
				@include text(#fff,500,16,24);
				margin: 0 20px;
				&:first-child {
					margin: 0 20px 0 0;
				}
				&:last-child {
					margin: 0 0 0 20px;
				}
			}
		}
		.login {
			text-decoration: none;
			@include text(#fff,500,17,25);
			padding: 13.5px 46px;
			border: 1px solid #fff;
			box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
			&:hover {
				border-color: #4452fe;
				background: #4452fe;
			}
		}
		&[scroll] {
			@include size(50%, 55px);
			background: #18181899;
			border: 1px solid #fff;
			border-radius: 0 0 15px 15px;
			justify-content: space-between;
			padding: 0 30px;
			backdrop-filter: blur(5px);
			border-top: 0;
			.login {
				padding: 5px 20px;
				border-radius: 50px;
			}
		}
	}
	.mainContents{
		.preamble {
			width: 100%;
			align-items: center;
			flex-flow: nowrap column;
			display: flex;
			.title {
				width: 710px;
				@include text(#fff,500,80,88);
				margin: calc(95px + 119px) 0 0 0;
				text-align: center;
			}
			.content {
				text-align: center;
				margin: 27px 0 0 0;
				@include text(#fff,400,20,30);
				width: 585px;
			}
			.button {
				margin: 95px 0 0 0;
				display: flex;
				a {
					text-decoration: none;
					@include text(#fff,500,17,25);
					padding: 20px 40px;
					border: 1px solid #fff;
					margin: 0 calc(35px / 2);
					box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
					&:hover {
						border-color: #4452fe;
						background: #4452fe;
					}
				}
			}
			.images {
				margin: 35px 0 0 0;
				@include size(100%, 841px);
				display: flex;
				justify-content: center;
				.image {
					position: absolute;
					&:nth-child(1) {
						bottom: 0;
						right: 50%;
						transform:translateX(100%); 
						@include size(714px, 543px);
					}
					&:nth-child(3) {
						bottom: 0;
						left: 50%;
						transform: translateX(-100%);
						@include size(731px, 557px);
					}
					&:nth-child(2) {
						@include size(714px, 543px);
					}
					img {
						@include size(100%, 100%);
					}
				}
				.gradient {
					position: absolute;
					@include size(100vw, 551px);
					background: linear-gradient(to bottom, transparent, #0e0e0e);
					bottom: 0;
				}
			}
		}
		.features {
			margin: 162px 0 0 0;
			width: 100%;
			display: flex;
			align-items: center;
			flex-flow: nowrap column;
			& > .title {
				@include text(#fff, 400, 52, 62);
			}
			& > .content {
				width: 585px;
				@include text(#fff, 400, 20, 30);
				margin: 27px 0 0 0;
			}
			& > .images {
				margin: 80px 0 0 0;
				display: flex;
				align-items: center;
				.images {
					@include size(724px, 759px);
					margin: 0 47px 0 0;
					img {
						position: absolute;
						&:nth-child(1) {
							@include size(696px, 659px);
						}
						&:nth-child(2) {
							@include size(400px, 276px);
							bottom: 0;
							right: 0;
						}
					}
				}
				.texts {
					width: 270px;
					.text {
						width: 100%;
						margin: 0 0 45px 0;
						&:last-child {
							margin: 0;
						}
						.title {
							display: flex;
							@include text(#fff, 500, 20, 30);
							.icon {
								margin: 0 10px 0 0;
							}
						}
						.content {
							margin: 20px 0 0 0;
							@include text(#fff, 400, 16, 24);
						}
					}
				}
			}
		}
		.contents {
			display: flex;
			align-items: center;
			flex-flow: nowrap column;
			margin: 160px 0 0 0;
			.title {
				@include text(#fff,400,52,62);
			}
			.content {
				margin: 20px;
				text-align: center;
				width: 575px;
				@include text(#fff,400,20,30);
			}
			.cards {
				margin: 54px 0 0 0;
				display: flex;
				.card {
					width: 476px;
					background: #fff;
					border-radius: 10px;
					border: 1px solid #d3d3d3;
					box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
					display: flex;
					flex-flow: nowrap column;
					align-items: center;
					.title {
						@include text(#000,500,20,30);
						margin: 50px 0 0 0;
					}
					.content {
						@include text(#5c5c5c,400,16,24);
						margin: 30px 0 0 0;
						width: 270px;
					}
					a {
						margin: 67px 0 0 0;
						padding: 13px 46px;
						background: #4452fe;
						@include text(#fff,500,17,25);
						text-decoration: none;
					}
					&:first-child {
						margin: 0 33px 0 0;
						.image {
							margin: 57px 0 0 0;
							display: flex;
							flex-flow: nowrap column;
							align-items: center;
							.screen {
								background: #000;
								border: 1.5px solid #9fa2a5;
								border-radius: 4.56px 4.56px 0 0;
								padding: 9.13px;
								border-bottom: 0;
								img {
									@include size(312.33px, 195.18px);
									border-radius: 4.56px;
								}
							}
							.keyboard {
								width: 405.12px;
								.base {
									@include size(100%, 8.37px);
									background: #d8d8d8;
									display: flex;
									justify-content: center;
									.grip {
										@include size(54.16px, 5.02px);
										background: #9fa2a5;
										border-radius: 0 0 100px 100px;
									}
								}
								.baseBottom {
									@include size(100%, 4.72px);
									background: #9fa2a5;
									border-radius: 0 0 100px 100px;
								}
							}
						}
					}
					&:last-child {
						.image {
							@include size(442px, 339px);
							img {
								@include size(100%, 100%);
							}
						}
					}
				}
			}
		}
		.gallery {
			display: flex;
			flex-flow: nowrap column;
			align-items: center;
			margin: 160px 0 0 0;
			.title {
				@include text(#fff,400,52,62);
			}
			.content {
				margin: 20px 0 0 0;
				width: 575px;
				@include text(#fff,400,20,30);
				text-align: center;
			}
			.images {
				margin: 54px 0 0 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				max-width: 1090px;
				img {
					flex-shrink: 0;
					border-radius: 12px;
					overflow: hidden;
					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(7) {
						margin: 44px 0 0 0;
					}
				}
			}
			.seeMore {
				margin: 44px 0 0 0;
				text-decoration: none;
				padding: 13.5px 40px;
				border: 1px solid #fff;
				@include text(#fff,500,17,25);
				&:hover {
					border-color: #4452fe;
					background: #4452fe;
				}
			}
		}
		.partners {
			margin: 160px 0 0 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			.title {
				@include text(#fff,400,52,62);
			}
			.content {
				margin: 20px 0 0 0;
				width: 575px;
				@include text(#fff,400,20,30);
				text-align: center;
			}
			.logos {
				margin: 60px 0 0 0;
				display: flex;
				a {
					margin: 0 74px 0 0;
					&:last-child {
						margin: 0;
					}
				}
			}
			.allPartners {
				text-decoration: none;
				padding: 13.5px 40px;
				border: 1px solid #fff;
				&:hover {
					border-color: #4452fe;
					background: #4452fe;
				}
				@include text(#fff,500,17,25);
				margin: 63px 0 0 0;
			}
		}
		.testimonials {
			margin: 210px 0 0 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			.title {
				@include text(#fff, 400, 52, 62);
			}
			.cards{
				display:flex;
				flex-wrap:wrap;
				max-width:885px;
				margin:60px 0 0 0;
				.card{
					padding:40px;
					border:1px solid #dedede;
					border-radius:10px;
					width:430px;
					flex-shrink: 0;
					.title{
						display:flex;
						.avatar{
							@include size(50px, 50px);
							margin:0 23px 0 0;
							img{
								@include size(100%, 100%);
							}
						}
						.texts{
							@include text(#fff, 500, 16, 24);
						}
					}
					.content{
						margin:30px 0 0 0;
						@include text(#fff, 400, 16, 24,Roboto);
					}
					&:nth-child(1){
						margin:0 23px 0 0;
					}
					&:nth-child(2){
						margin:0;
					}
					&:nth-child(3){
						margin:20px 23px 0 0;
					}
					&:nth-child(4){
						margin:20px 0 0 0;
					}
				}
			}
		}
		.end{
			margin:230px 0 0 0;
			display:flex;
			align-items: center;
			background: #343434;
			border-radius:33px;
			overflow:hidden;
			justify-content: center;
			.texts{
				margin:0 50px 0 0;
				.content{
					@include text(#fff, 400, 52, 62);
					width:480px;
					margin:0 0 37px 104px;
				}
				.tryForFree{
					margin: 0 0 0 94px;
					padding:13.5px 67px;
					text-decoration:none;
					@include text(#fff,500,17,25);
					background:#4452fe;
				}
			}
			.image{
				@include size(585px, 365px);
				img{
					@include size(100%, 100%);
				}
			}
		}
	}
	.footer{
		margin:290px 0 0 0;
		display:flex;
		justify-content:space-evenly;
		width:100%;
		padding:0 0 110px 0;
		.column{
			.title{
				@include text(#fff, 500, 20, 30);
			}
			.contents{
				margin:40px 0 0 0;
				display: flex;
				flex-direction: column;
				a{
					text-decoration:none;
					@include text(#fff, 500, 16, 24);
					margin:0 0 20px 0;
					&:last-child{
						margin: 0;
					}
				}
			}
			&:last-child{
				.location,.phoneNumber{
					display:flex;
					align-items:center;
					@include text(#fff,500,16,24);
					.icon{
						margin:0 10px 0 0;
					}
				}
				.phoneNumber{
					margin:20px 0 0 0;
				}
				.socialNetwork{
					margin: 40px 0 0 0;
					display: flex;
					align-items: center;
					a{
						margin:0 32px 0 0;
						&:last-child{
							margin:0;
						}
					}
				}
			}
		}
	}
}