*,*:before,*:after
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
    background: transparent
    position: relative
    font-size: 16px
    color: #fff
    font-variant-ligatures: normal
    font-family: CascadiaCode
    transition: all .025s linear
@font-face
    font-family: CascadiaCode
    src: url(../fonts/CascadiaCode-2111.01/ttf/static/CascadiaCode-Regular.ttf)
@keyframes up
    0%
        transform: translate(0,1rem)
    100%
        transform: translate(0,0)
body
    background: #000
    width: var(--innerWidth, 100%)
    font-size: 6.25%
    height: var(--innerHeight, 100%)
    min-height: var(--innerHeight, 100%)
    display: flex
    flex-direction: column
    justify-content: flex-end
    &::-webkit-scrollbar
        display: none
    label
        width: var(--innerWidth, 100%)
        height: calc(var(--innerHeight) - 1rem)
        display: block
        color: #fff
        display: flex
        flex-direction: column
        overflow-y: auto
        &::-webkit-scrollbar
            display: none
        &>.commandHistory:first-child
            margin: auto 0 0 0
            //border-top: unset
        .commandHistory
            font-size: 1rem
            animation: up .025s linear 0s 1 normal forwards
            word-break: break-word
            //border-top: 1px solid #ffffff80

    .input
        border-top: 1px solid #fff
        width: var(--innerWidth, 100%)
        display: unset
        overflow-y: unset
        min-height: 1rem
        height: auto
        display: flex
        flex-direction: row
        .text
            //max-width: calc(100% - 1rem)
            font-size: 1rem
            overflow: auto hidden
            display: inline-block
            word-wrap: normal
            word-break: normal
            &::-webkit-scrollbar
                display: none
        .cursor
            font-size: 1rem
            display: inline
            margin: 0 0 0 -8px
            background: #fff
            margin: 0 auto 0 0
