html {
	background: 0 0 / cover no-repeat fixed
			linear-gradient(to bottom, var(--bodyBackgroundGradient), var(--bodyBackgroundGradient2));
	body {
		background: 0 0 / cover no-repeat fixed
				linear-gradient(to bottom, var(--bodyBackgroundGradient), var(--bodyBackgroundGradient2));
		.sun {
			position: relative;
			width: 630px;
			height: 630px;
			margin: 80px auto;
			overflow: hidden;
			border-radius: 50%;
			padding: 15px;
			.second {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: 10px solid var(--sunColor);
				box-shadow: 0 0 10px 0 var(--sunColorShadow), 0 0 20px 0 var(--sunColorShadow),
					0 0 10px 0 var(--sunColorShadow) inset, 0 0 20px 0 var(--sunColorShadow) inset;
				position: relative;
				background: var(--secondAndHourBackgroundColor);
			}
			.secondTitle,
			.minuteTitle,
			.hourTitle {
				width: 100%;
				height: auto;
				padding: 0 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(calc(180deg + ((var(--secondTitleRotate) + 1) * 6deg)));
				span {
					color: var(--secondAndHourTextColor);
					display: inline-block;
					font: 21px "Seven Segment";
					transform: rotate(180deg);
					font-weight: 600;
				}
			}
			.minute {
				width: 460px;
				height: 460px;
				border-radius: 50%;
				background: var(--minuteBackgroundColor);
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%, -50%) rotate(calc(0deg + 90deg));
				box-shadow: 0 0 10px 0 var(--minuteBackgroundColor), 0 0 20px 0 var(--minuteBackgroundColor);
				.minuteTitle {
					transform: translate(-50%, -50%) rotate(calc((var(--minuteTitleRotate) * 6deg) + 96deg));
					span {
						color: var(--minuteTextColor);
						text-shadow: unset;
						font-weight: 600;
					}
				}
			}
			.hour {
				width: 340px;
				height: 340px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(calc(0deg + 90deg));
				background: var(--secondAndHourBackgroundColor);
				border-radius: 50%;
				box-shadow: 0 0 15px 0 var(--minuteBackgroundColor) inset, 0 0 25px 0 var(--minuteBackgroundColor) inset;
				.hourTitle {
					transform: translate(-50%, -50%) rotate(calc((var(--hourTitleRotate) * 15deg) + 105deg));
					span {
						color: var(--secondAndHourTextColor);
					}
				}
			}
			.halfCircle {
				width: 290px;
				height: 590px;
				position: absolute;
				top: 20px;
				left: 20px;
				.halfCircleCenter,
				.temperatureProgressbar {
					position: absolute;
					background: var(--sunColor);
					width: 220px;
					height: 220px;
					border-radius: 50%;
					box-shadow: 0 0 20px var(--sunColor);
					top: 50%;
					right: 0;
					transform: translate(50%, -50%);
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.temperatureProgressbar {
					background: transparent;
					box-shadow: unset;
					.dot {
						width: 100%;
						height: 100%;
						position: absolute;
						transform: rotate(calc((44deg + 90deg) + 10deg));
						&:before {
							content: "";
							display: block;
							position: absolute;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							left: 50%;
							transform: translate(-50%, -2.5px);
							background: #f00;
						}
						& + .dot {
							transform: rotate(36deg);
							&:before {
								width: 5px;
								height: 5px;
								transform: translate(-50%, 0);
								background: var(--dateTextColor);
							}
						}
					}
					.dot.progressbar {
						transform: rotate(calc(45deg - 9deg - var(--temperatureProgressbarDeg, 100deg)));
						&:before {
							background: #f00;
						}
					}
				}
				.halfCircleCenter {
					.startLine {
						width: 0;
						height: 0;
						border: 15px solid transparent;
						border-left-color: var(--sunColor);
						position: absolute;
						top: 50%;
						right: 1px;
						transform: translate(100%, -50%);
						.line {
							width: 160px;
							height: 40px;
							border: 3px solid var(--red);
							transform: translate(0, -50%);
							.endLine {
								width: 0;
								height: 0;
								border: 15px solid transparent;
								border-right-color: var(--sunColor);
								position: absolute;
								top: 50%;
								right: 0;
								transform: translate(calc(50% + 5px), -50%);
							}
						}
					}
					.circle,
					.progressbar {
						width: 100%;
						height: 100%;
						background: conic-gradient(
							transparent 0 calc(90deg + 18deg),
							var(--dateTextColor) calc(90deg + 18deg) 360deg
						);
						border-radius: 50%;
						transform: rotate(calc(45deg - 9deg));
						position: absolute;
					}
					.hideCircle {
						width: calc(100% - 10px);
						height: calc(100% - 10px);
						position: absolute;
						background: var(--sunColor);
						border-radius: 50%;
					}
					.progressbar {
						background: conic-gradient(
							#f00 0 calc(360deg - (90deg + 18deg + var(--temperatureProgressbarDeg, 100deg))),
							transparent calc(360deg - (90deg + 18deg + var(--temperatureProgressbarDeg, 100deg))) 360deg
						);
						transform: rotate(calc(45deg - 9deg + 90deg + 18deg));
					}
					.dates {
						background: transparent;
						position: relative;
						color: var(--dateTextColor);
						font-family: Pacifico;
						display: flex;
						flex-flow: wrap column;
						justify-content: center;
						align-items: center;
						.city {
							span {
								height: 15px;
								width: 15px;
								display: inline-block;
								margin-right: 5px;
								svg path {
									fill: var(--dateTextColor);
								}
							}
							font-size: 25px;
							background: transparent;
							max-width: 150px;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
						.day {
							font-size: 40px;
						}
						.date {
							font-size: 30px;
							margin: -10px 0 0 0;
						}
					}
				}
				.halfCircle45Deg,
				.halfCircleNot45Deg {
					transform: rotate(45deg);
					width: 100%;
					height: 100%;
					border-radius: 400px 0 0 400px;
					background: var(--sunColor);
					box-shadow: 0 0 20px 0 var(--sunColor);
					position: absolute;
					top: 0;
					left: 0;
					transform-origin: 100% 50%;
				}
				.halfCircleNot45Deg {
					transform: rotate(-45deg);
				}
			}
			.second,
			.minute,
			.hour {
				transition: all 0.35s cubic-bezier(0.39, 1.62, 0.49, 1.87);
			}
			.weatherInfo {
				.temperature {
					&Now,
					&Min,
					&Max {
						position: absolute;
						width: calc(50% - 30px);
						height: calc(100% - 60px);
						top: 30px;
						left: 30px;
						border-radius: 999px 0 0 999px;
						font-family: Pacifico;
						display: flex;
						align-items: center;
						align-content: center;
						color: var(--dateTextColor);
					}
					&Now {
						.info {
							margin: 30px 0 -20px 0;
						}
						.sunInfo {
							width: 165px;
							margin: -36px 0 -30px 10px;
							.sunInfoTitle {
								width: 100%;
								color: var(--dateTextColor);
								font-family: Pacifico;
								display: flex;
								justify-content: space-between;
								span {
									font-size: 22px;
									margin: -5px 0 -5px 0;
								}
							}
							.sunInfoContent {
								border-bottom: 3px solid var(--dateTextColor);
								width: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								position: relative;
								.house {
									width: 40px;
									height: 40px;
									margin: 0 0 -6px 0;
									path {
										fill: var(--dateTextColor);
									}
								}
								.sunIcon {
									width: 165px;
									height: 165px;
									border-radius: 50%;
									position: absolute;
									top: 0;
								}
								.icon {
									path {
										fill: var(--dateTextColor);
									}
									width: 20px;
									height: 20px;
									margin: 0 auto;
								}
								.circle,
								.iconBox {
									width: calc(165px - 19.5px);
									height: 70px;
									position: absolute;
									overflow: hidden;
									bottom: 0;
									border-radius: 0;
								}
								.iconBox {
									height: 80px;
									width: 165px;
								}
								.circle:before {
									content: "";
									display: block;
									top: 0;
									width: 100%;
									height: calc(165px - 19.5px);
									border: 2px dashed var(--dateTextColor99);
									border-radius: 50%;
								}
							}
						}
						flex-flow: nowrap column;
						justify-content: center;
						align-items: flex-start;
						align-content: flex-start;
						.weatherDescription {
							height: 200px;
							width: 200px;
							margin: 0 0 -200px 10px;
							position: relative;
							text-overflow: ellipsis;
							text-align: center;
							overflow: hidden;
							font-size: 27px;
							&:before {
								content: "";
								display: block;
								position: relative;
								width: 100%;
								height: 100%;
								float: left;
								shape-outside: polygon(0 30%, 80% 100%, 0 100%, 0 30%);
								clip-path: polygon(0 30%, 80% 100%, 0 100%, 0 30%);
							}
						}
					}
					&Min,
					&Max {
						width: calc(100% - 60px);
						height: calc(50% - 30px);
						align-items: unset;
						align-content: unset;
						justify-content: center;
					}
					&Min {
						border-radius: 0 0 999px 999px;
						top: unset;
						bottom: 30px;
						.info {
							margin: 130px 0 0 0;
						}
					}
					&Max {
						border-radius: 999px 999px 0 0;
						.info {
							margin: -80px 0 0 0;
						}
					}
				}
				.info {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: wrap column;
				}
				.content {
					font-size: 90px;
					margin: -60px 0 0 0;
					.decimal {
						font-size: 40px;
					}
				}
				.content span,
				.title {
					font-size: 30px;
				}
			}
		}
		.scenery {
			width: 100%;
			height: 100%;
			position: absolute;
			bottom:0;
			svg{
				position:absolute;
				width:100%;
				height:auto;
				bottom:0;
			}
			.mountain7 path{
				fill:var(--mountain7Color);
			}
			.mountain6 path{
				fill:var(--mountain6Color);
			}
			.mountain5 path{
				fill:var(--mountain5Color);
			}
			.mountain4 path{
				fill:var(--mountain4Color);
			}
			.mountain3 path{
				fill:var(--mountain3Color);
			}
			.mountain2 path{
				fill:var(--mountain2Color);
			}
			.mountain1 path{
				fill:var(--mountain1Color);
			}
			.mountain0 path{
				fill:var(--mountain0Color);
			}
			.tree,.minTree{
				.shadow{
					fill:var(--treeShadowColor)
				}
				.trunk{
					fill:var(--trunkColor)
				}
				.leaf3{
					fill:var(--leaf1Color)
				}
				.leaf2{
					fill:var(--leaf2Color)
				}
				.leaf1{
					fill:var(--leaf3Color)
				}
			}
		}
		.clouds,
		.stars {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background: transparent;
		}
		.clouds {
			.clouds1 {
				position: absolute;
				width: 350px;
				height: 200px;
				background: transparent;
				top: 550px;
				right: 70px;
				.circle1 {
					width: 150px;
					height: 150px;
					bottom: 0;
					left: 0;
				}
				.circle2 {
					width: 70px;
					height: 70px;
					bottom: 0;
					right: 0;
				}
				.circle3 {
					width: 130px;
					height: 130px;
					top: 0;
					left: 70px;
				}
				.circle4 {
					width: 100px;
					height: 100px;
					top: 50px;
					right: 100px;
				}
				.circle5 {
					width: 100px;
					height: 100px;
					top: 60px;
					right: 30px;
				}
				.rectangle {
					position: absolute;
					left: 75px;
					bottom: 0;
					width: 240px;
					height: 70px;
					background: var(--cloudColor);
					&:before {
						content: "";
						display: block;
						position: absolute;
						width: 50px;
						height: 50px;
						background: var(--cloudColor);
						transform: translate(0, -50%);
						left: 50px;
					}
				}
			}
			.circle {
				border-radius: 50%;
				background: var(--cloudColor);
				position: absolute;
			}
			.cloud1,
			.cloud2,
			.cloud3,
			.cloud4,
			.cloud5,
			.cloud6,
			.cloud7 {
				* {
					box-shadow: 0 0 10px 0 var(--cloudColor), 0 0 20px 0 var(--cloudColor), 0 0 40px 0 var(--cloudColor);
				}
			}
			.cloud2 {
				position: absolute;
				width: 350px;
				height: 200px;
				background: transparent;
				top: 50px;
				left: 70px;
				.circle6 {
					width: 100px;
					height: 100px;
					top: 50%;
					transform: translate(0, -50%);
				}
				.circle7 {
					width: 70px;
					height: 70px;
					top: 50%;
					right: 0;
					transform: translate(0, -30%);
				}
				.circle8 {
					width: 150px;
					height: 150px;
					left: 50px;
				}
				.circle9 {
					width: 120px;
					height: 120px;
					right: 70px;
					top: 30px;
				}
				.circle10 {
					width: 50px;
					height: 50px;
					top: 50%;
					transform: translate(0, -50%);
					right: 50px;
				}
				.circle11 {
					width: 70px;
					height: 70px;
					bottom: 30px;
					left: 50px;
				}
				.circle12 {
					width: 50px;
					height: 50px;
					bottom: 40px;
					right: 50px;
				}
				.circle13 {
					width: 150px;
					height: 150px;
					bottom: 0;
					left: 110px;
				}
			}
			.cloud3 {
				width: 200px;
				height: 170px;
				position: absolute;
				background: transparent;
				top: 120px;
				right: 70px;
				.circle14 {
					width: 50px;
					height: 50px;
					top: 80px;
				}
				.circle15 {
					width: 60px;
					height: 60px;
					top: 50px;
					left: 25px;
				}
				.circle16 {
					width: 80px;
					height: 80px;
					left: 60px;
					top: 20px;
				}
				.circle17 {
					width: 70px;
					height: 70px;
					top: 60px;
					right: 20px;
				}
				.circle18 {
					width: 50px;
					height: 50px;
					left: 30px;
					bottom: 20px;
				}
				.circle19 {
					width: 80px;
					height: 80px;
					left: 60px;
					bottom: 10px;
				}
			}
			.cloud4 {
				position: absolute;
				width: 600px;
				height: 300px;
				top: 550px;
				.circle20 {
					width: 150px;
					height: 150px;
					top: 50%;
					transform: translate(0, -50%);
					right: 0;
				}
				.circle21 {
					width: 250px;
					height: 250px;
					right: 70px;
				}
				.circle22 {
					width: 100px;
					height: 100px;
					top: 40px;
					right: 290px;
				}
				.circle23 {
					width: 120px;
					height: 120px;
					top: 30px;
					left: 120px;
				}
				.circle24 {
					width: 100px;
					height: 100px;
					top: 60px;
					left: 50px;
				}
				.circle25 {
					width: 90px;
					height: 90px;
					top: 80px;
				}
				.circle26 {
					width: 110px;
					height: 110px;
					bottom: 80px;
					left: 60px;
				}
				.circle27 {
					width: 200px;
					height: 200px;
					bottom: 65px;
					left: 135px;
				}
				.circle28 {
					width: 100px;
					height: 100px;
					bottom: 85px;
					left: 110px;
				}
				.circle29 {
					width: 200px;
					height: 200px;
					bottom: 30px;
					right: 170px;
				}
			}
			.cloud5 {
				right: 0;
				width: 700px;
				height: 200px;
				position: absolute;
				.circle30 {
					width: 70px;
					height: 70px;
					top: 50px;
				}
				.circle31 {
					width: 60px;
					height: 60px;
					top: 40px;
					left: 35px;
				}
				.circle32 {
					width: 130px;
					height: 130px;
					left: 70px;
				}
				.circle33 {
					width: 70px;
					height: 70px;
					top: 70px;
					left: 165px;
				}
				.circle34 {
					width: 80px;
					height: 80px;
					top: 65px;
					left: 200px;
				}
				.circle35 {
					width: 100px;
					height: 100px;
					top: 40px;
					left: 250px;
				}
				.circle36 {
					width: 170px;
					height: 170px;
					bottom: 0;
					left: 300px;
				}
				.circle37 {
					width: 70px;
					height: 70px;
					top: 20px;
					left: 400px;
				}
				.circle38 {
					width: 130px;
					height: 130px;
					top: 50px;
					right: 150px;
				}
				.circle39 {
					width: 100px;
					height: 100px;
					top: 40px;
					right: 100px;
				}
				.circle40 {
					width: 90px;
					height: 90px;
					right: 0;
					top: 70px;
				}
				.circle41 {
					width: 70px;
					height: 70px;
					top: 70px;
					right: 70px;
				}
				.circle42 {
					width: 100px;
					height: 100px;
					bottom: 30px;
					right: 60px;
				}
				.circle43 {
					width: 100px;
					height: 100px;
					bottom: 40px;
					left: 60px;
				}
				.circle44 {
					width: 100px;
					height: 100px;
					bottom: 30px;
					left: 100px;
				}
			}
			.cloud6 {
				position: absolute;
				width: 300px;
				height: 250px;
				right: 0;
				top: 400px;
				.circle45 {
					width: 100px;
					height: 100px;
					right: 0;
					top: 70px;
				}
				.circle46 {
					width: 200px;
					height: 200px;
					right: 60px;
				}
				.circle47 {
					width: 70px;
					height: 70px;
					bottom: 60px;
				}
				.circle48 {
					width: 100px;
					height: 100px;
					left: 40px;
					bottom: 30px;
				}
				.circle49 {
					width: 150px;
					height: 150px;
					bottom: 15px;
					right: 30px;
				}
			}
			.cloud7 {
				position: absolute;
				width: 300px;
				height: 150px;
				top: 150px;
				.circle50 {
					width: 100px;
					height: 100px;
					right: 0;
					top: 40px;
				}
				.circle51 {
					width: 70px;
					height: 70px;
					top: 0;
					right: 50px;
				}
				.circle52 {
					width: 90px;
					height: 90px;
					top: 30px;
					right: 70px;
				}
				.circle53 {
					width: 50px;
					height: 50px;
					bottom: 20px;
					right: 125px;
				}
				.circle54 {
					width: 70px;
					height: 70px;
					top: 40px;
					left: 90px;
				}
				.circle55 {
					width: 100px;
					height: 100px;
					top: 30px;
				}
				.circle56,
				.circle57,
				.circle58 {
					width: 50px;
					height: 50px;
					top: 30px;
					left: 70px;
				}
				.circle57,
				.circle58 {
					top: unset;
					bottom: 20px;
				}
				.circle58 {
					bottom: 0;
					left: 20px;
				}
			}
		}
		.stars {
			bottom: unset;
			top: 0;
			.star {
				position: absolute;
				width: 25px;
				height: 35px;
				path {
					fill: var(--white);
				}
				&.big {
					transform: scale(1.5);
				}
				&.small {
					transform: scale(0.5);
				}
				svg {
					filter: drop-shadow(0 0 5px var(--white)) drop-shadow(0 0 10px var(--white))
						drop-shadow(0 0 20px var(--white));
				}
				&.starDot {
					width: 10px;
					height: 10px;
					background: var(--white);
					border-radius: 50%;
					box-shadow: 0 0 5px 0 var(--white), 0 0 10px 0 var(--white), 0 0 20px 0 var(--white);
					&.big {
						width: 15px;
						height: 15px;
					}
					&.small {
						width: 5px;
						height: 5px;
						box-shadow: 0 0 5px 0 var(--white), 0 0 10px 0 var(--white), 0 0 15px 0 var(--white),
							0 0 20px 0 var(--white);
					}
				}
			}
			.star1 {
				top: 50px;
				left: 100px;
			}
			.star2 {
				top: 400px;
				left: 70px;
			}
			.star3 {
				top: 500px;
				left: 800px;
			}
			.star4 {
				top: 700px;
				left: 300px;
			}
			.star5 {
				top: 75px;
				right: 150px;
			}
			.star6 {
				top: 843px;
				right: 128px;
			}
			.star7 {
				top: 1000px;
				left: 500px;
			}
			.star8 {
				top: 1240px;
				left: 90px;
			}
			.star9 {
				top: 1500px;
				left: 500px;
			}
			.star10 {
				top: 1270px;
				right: 60px;
			}
			.dot1 {
				top: 30px;
				left: 70px;
			}
			.dot2 {
				top: 240px;
				left: 100px;
			}
			.dot3 {
				top: 147px;
				left: 265px;
			}
			.dot4 {
				top: 60px;
				left: 300px;
			}
			.dot5 {
				top: 40px;
				left: 500px;
			}
			.dot6 {
				top: 170px;
				right: 85px;
			}
			.dot7 {
				top: 340px;
				right: 100px;
			}
			.dot8 {
				top: 700px;
				left: 144px;
			}
			.dot9 {
				top: 720px;
				right: 98px;
			}
			.dot10 {
				top: 780px;
				left: 500px;
			}
			.dot11 {
				top: 980px;
				left: 250px;
			}
			.dot12 {
				top: 1000px;
				right: 300px;
			}
			.dot13 {
				top: 1309px;
				left: 430px;
			}
			.dot14 {
				top: 1200px;
				left: 160px;
			}
			.dot15 {
				top: 1305px;
				right: 140px;
			}
			.dot16 {
				top: 950px;
				left: 50px;
			}
			.dot17 {
				top: 800px;
				right: 300px;
			}
			.dot18 {
				top: 1100px;
				right: 100px;
			}
			.dot19 {
				top: 1200px;
				right: 200px;
			}
			.dot20 {
				top: 30px;
				right: 300px;
			}
			.dot21 {
				top: 600px;
				left: 100px;
			}
			.dot22 {
				top: 809px;
				right: 200px;
			}
			.dot23 {
				top: 950px;
				left: 500px;
			}
			.dot24 {
				top: 900px;
				left: 300px;
			}
			.dot25 {
				top: 910px;
				right: 300px;
			}
		}
	}
}
