body {
  --bodyBackgroundGradient: #61bfff;
  --bodyBackgroundGradient2: #fff;
  --sunColor: #f1e110;
  --dateTextColor: #fff;
  --secondAndHourBackgroundColor: #61bfff;
  --mountain7Color: invert(0.96) sepia(0.67) saturate(52.16)
    hue-rotate(359deg) brightness(0.98) contrast(1.01);/* #fafa00; */
  --mountain6Color: invert(71%) sepia(94%) saturate(517%) hue-rotate(11deg)
    brightness(107%) contrast(99%);/* #e3e902; */
  --mountain5Color: invert(93%) sepia(36%) saturate(3070%) hue-rotate(4deg)
    brightness(86%) contrast(97%);/* #ccd904; */
  --mountain4Color: invert(59%) sepia(92%) saturate(445%) hue-rotate(25deg)
    brightness(104%) contrast(95%);/* #b5cb06; */
  --mountain3Color: invert(64%) sepia(83%) saturate(480%) hue-rotate(23deg)
    brightness(89%) contrast(94%);/* #9eb708; */
  --mountain2Color: invert(58%) sepia(96%) saturate(1633%)
    hue-rotate(35deg) brightness(92%) contrast(92%);/* #87a70a; */
  --mountainColor: invert(61%) sepia(79%) saturate(4497%) hue-rotate(48deg)
    brightness(95%) contrast(91%);/* #70960c; */
  --treeShadowColor: invert(.99) sepia(.53) saturate(.2) hue-rotate(133deg) brightness(1.1) contrast(1.01)/* #fff */;
  --trunkColor: invert(.39) sepia(.11) saturate(17.53) hue-rotate(343deg) brightness(.94) contrast(.95);/* #885c3b */
  --leaf3Color: brightness(0) saturate(100%) invert(91%) sepia(19%)
    saturate(7094%) hue-rotate(283deg) brightness(101%) contrast(98%);/* #fc89d1; */
  --leaf2Color: brightness(0) saturate(100%) invert(86%) sepia(22%)
    saturate(1502%) hue-rotate(281deg) brightness(94%) contrast(110%);/* #fc96d6; */
  --leafColor: brightness(0) saturate(100%) invert(77%) sepia(43%)
    saturate(699%) hue-rotate(285deg) brightness(104%) contrast(98%);/* #fca1da; */
  --cloudColor:#fff;
}
div.scenery,div.clouds {
  display: block;
}